{% extends 'procurement/base.html' %}
{% load staticfiles %}
{% block content %}
        <!-- /. NAV SIDE  -->
         <div id="page-wrapper">
            <div id="page-inner">
                
                <div class= "header-right">
                
                </div>
            
            {%load staticfiles%}
                <div class = "text-center" style="padding-top: 80px;">
                    <img style="max-width: 180px; max-height: 180px;" src = "{% static 'assets/img/Msu.png' %}" class="img-circle">

                </div>
                <div class="text-center" style="padding-top: 15px;">
                    <p style="font-size: 18px;">Mindanao State University - PIIMS</p>
                    <p style="font-size: 13px;">Requests, Inventory, Accountabilities</p>
                </div>
                <div >
                <form action="/requisitioner/search/" method="post">{% csrf_token %}
                <div class=" col-centered test" style="width: 600px;">
                    <div class="form-group input-group">
                      
                       <input style="border-top-left-radius: 15px; border-bottom-left-radius: 15px; border-right: 1px solid #fff;" name="search_input" type="text" autofocus class="form-control " placeholder="Enter something you want to find">
                                            <span class="input-group-btn">
                                                <button style=" color: #357ebd; border-top-right-radius: 15px; border-bottom-right-radius: 15px; background-color: #fff; outline: none; border-color: #ccc" class="btn btn-primary " type="submit" role="submit" name="search_button"  >
                                                    <i class="fa fa-search "></i>
                                                </button>
                                            </span>
                                        </div>
                </div>
                </form>
                </div>
                
                <!-- /. ROW  -->
                
                    </div>
                </div>
			
            </div>
            <!-- /. PAGE INNER  -->
        </div>
        <!-- /. PAGE WRAPPER  -->
    </div>
    <!-- /. WRAPPER  -->
    <div id="footer-sec" >
      &copy; Mindanao State University - General Santos City
    </div>
    <!-- /. FOOTER  -->
    <!-- SCRIPTS -AT THE BOTOM TO REDUCE THE LOAD TIME-->
    <!-- JQUERY SCRIPTS -->
    <script src="{% static 'assets/js/jquery-1.10.2.js' %}"></script>
    <!-- BOOTSTRAP SCRIPTS -->
    <script src="{% static 'assets/js/bootstrap.js' %}"></script>
    <!-- METISMENU SCRIPTS -->
    <script src="{% static 'assets/js/jquery.metisMenu.js' %}"></script>
    <!-- CUSTOM SCRIPTS -->
    <script src="{% static 'assets/js/custom.js' %}"></script>

    <script type="text/javascript">
            
    $(document).ready(function () {
        $('#home').attr('class', 'active-menu-proc')
        $('#searchFieldSmall').attr('style', 'display:none')
    })

    </script>

{% endblock %}


