{% extends 'procurement/base.html' %}
{% load staticfiles %}
{% load humanize %}
{% block content %}
    <style type="text/css">
        
        .test25{
            width: 100%;
            height: 100%;
        
        }
         

        .test25 img{
             
             
             max-height: 150px;
             
         }
         .dataFont3{
            
            font-size: 15px; 
            font-weight: bold; 
        
         }

         .dataFont4{
            
            font-weight: 450;  
            font-size: 15px;
         }
                 .test25{
            width: 100%;
            height: 100%;
        
        }
         

         .dataFont1{
            
            font-size: 15px; 
            font-weight: bold; 
            padding:7px; 
            margin-bottom:2px;
        
         }

         .dataFont2{
            
            font-weight: 450;  
            font-size: 15px;
            padding:7px; 
            margin-bottom:2px;

    </style>

        <!-- /. NAV SIDE  -->
        <div id="page-wrapper">
            <form id="theReqData" action="" method="POST">{% csrf_token %}
            <div class="panel-body" style="
                 margin-bottom: 0px;
                 padding-left: 15px;
                 font-size: 25px;
                 padding-top: 10px; 
                 padding-bottom: 0px;
                 margin-top:50px; 

                ">
                <div>
                 <span name="reqNum" id="reqNum" value="{{pageData1.0.0}}">Request for Quotation no. {{pageData1.1.0.0}}</span>
                 
                </div>
                 
               </div>
               </form>
            <div id="page-inner" style="margin-top:0px; background-color: #ddd!important;">
             
                <hr>
                 

                <div class="col-lg-12" style="display: none">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            {% for x in  pageData1 %}
                                <p>{{x}}</p>

                            {% endfor %}
                        </div>
                    </div>
                </div>
                <div class="col-lg-12">
                    <div class="panel panel-default">
                        <div class="panel-body" >
                            <p  style="text-indent: 50px;"> Due to limitation of to what or how much data this application could collect during recording, some parts and information regarding this activity or document will be limited. </p>
                            <p style="text-indent: 50px;">Any information that this application cannot provide is indicated with the phrase "Not Indicated".</p>
                           
                        </div>
                    </div>
                </div>
                 
                <div class="col-lg-6" style="">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title">Basic Information</h3>
                            </div><!-- height:590px;-->
                            <div class="panel-body" style=" height:370px;  padding-left:20px;">
                            
                           
                            <div class="form-group">
                                <div style="padding-left: 2px; width:100%; ">
                                    <div class=" dataFont2 col-lg-5" >
                                        Project Name:  
                                    </div>
                                    <div class="dataFont1 col-lg-6" >
                                       
                                        {% if pageData1.1.0.2 == '' %}
                                        Not indicated
                                        {% else %}
                                        {{pageData1.1.0.2}}
                                        {% endif %}

                                    </div>
                                </div> 
                            </div>
                              <div class="form-group">
                                <div style="padding-left: 2px; width:100%; ">
                                    <div class=" dataFont2 col-lg-5" >
                                        Project Location:  
                                    </div>
                                    <div class="dataFont1 col-lg-6" >
                                        {% if pageData1.1.0.3 == '' %}
                                        Not indicated
                                        {% else %}
                                        {{pageData1.1.0.3}}
                                        {% endif %}
                                    </div>
                                </div> 
                            </div>
                            
                            <div class="form-group">
                                <div style="padding-left: 2px; width:100%; ">
                                    <div class=" dataFont2 col-lg-5" >
                                        Date Created:  
                                    </div>
                                    <div class="dataFont1 col-lg-6" >
                                        {{pageData1.1.0.4}}
                                    </div>
                                </div> 
                            </div>
                            
                           <div class="form-group">
                                <div style="padding-left: 2px; width:100%; ">
                                    <div class=" dataFont2 col-lg-5" >
                                        Canvasser:  
                                    </div>
                                    <div class="dataFont1 col-lg-6" >
                                        {% if pageData1.1.1.0 == None %}
                                        Not indicated
                                        {% else %}
                                        {{pageData1.1.1.0.6}} {{pageData1.1.1.0.1}} {{pageData1.1.1.0.7}} {{pageData1.1.1.0.2}} {{pageData1.1.1.0.8}}
                                        {% endif %}
                                       
                                    </div>
                                </div> 
                            </div>
                            
                            <div class="form-group">
                                <div style="padding-left: 2px; width:100%; ">
                                    <div class=" dataFont2 col-lg-5" >
                                          
                                    </div>
                                    <div class="dataFont1 col-lg-6" >
                                        
                                    </div>
                                </div> 
                            </div>

                            <div class="form-group">
                                <div style="padding-left: 2px; width:100%; ">
                                    <div class=" dataFont2 col-lg-5" >
                                         
                                    </div>
                                    <div class="dataFont1 col-lg-6" >
                                      
                                    </div>
                                </div> 
                            </div>


                            <div class="form-group">
                                <div style="padding-left: 2px; width:100%; ">
                                    <div class=" dataFont2 col-lg-5" >
                                        Abstract Status:  
                                    </div>
                                    <div class="dataFont1 col-lg-6" >
                                        <label class="label label-success">Created and Processed</label>
                                    </div>
                                </div> 
                            </div>
                            <div class="form-group">
                                <div style="padding-left: 2px; width:100%; ">
                                    <div class=" dataFont2 col-lg-5" >
                                        Abstract No.:  
                                    </div>
                                    <div class="dataFont1 col-lg-6" >
                                        000-00
                                    </div>
                                </div> 
                            </div>
                            <div class="form-group">
                                <div style="padding-left: 2px; width:100%; ">
                                    <div class=" dataFont2 col-lg-5" >
                                        Date Prepared:  
                                    </div>
                                    <div class="dataFont1 col-lg-6" >
                                        000-00
                                    </div>
                                </div> 
                            </div>

                            
                             
                            </div>
                        </div>
                    </div>
                    
                   
                    <div class="col-lg-6" style=" padding-left:0px;">
                         <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title">References Information</h3>
                            </div>
                            <div class="panel-body" style=" height:370px;  padding-left:20px;">
                            
                          
                            <div class="form-group">
                                <div style="padding-left: 2px; width:100%; ">
                                    <div class=" dataFont2 col-lg-5" >
                                        P.R. Reference :  
                                    </div>
                                    <div class="dataFont1 col-lg-6" >
                                        <a href="/procurement_office/pr/{{pageData1.0.2}}/details/">
                                            {{pageData1.0.0.1}}

                                        </a>
                                    </div>
                                </div> 
                            </div>
                            <div class="form-group">
                                <div style="padding-left: 2px; width:100%; ">
                                    <div class=" dataFont2 col-lg-5" >
                                        Date Created:  
                                    </div>
                                    <div class="dataFont1 col-lg-6" >
                                        {{pageData1.0.0.5}}
                                    </div>
                                </div> 
                            </div>
                            <div class="form-group" style="display: none">
                                <div style="padding-left: 2px; width:100%; ">
                                    <div class=" dataFont2 col-lg-5" >
                                        Date Approved:  
                                    </div>
                                    <div class="dataFont1 col-lg-6" >
                                        {{pageData1.0.0.5}}
                                    </div>
                                </div> 
                            </div>
                            <div class="form-group">
                                <div style="padding-left: 2px; width:100%; ">
                                    <div class=" dataFont2 col-lg-5" >
                                        Req. Personnel:  
                                    </div>
                                    <div class="dataFont1 col-lg-7" >
                                       {{pageData1.0.1.1.6}} {{pageData1.0.1.1.1}} {{pageData1.0.1.1.7}} {{pageData1.0.1.1.2}} {{pageData1.0.1.1.8}} 
                                    </div> 
                                </div> 
                            </div>

                             <div class="form-group">
                                <div style="padding-left: 2px; width:100%; ">
                                    <div class=" dataFont2 col-lg-5" >
                                        Requesting Off.:  
                                    </div>
                                    <div class="dataFont1 col-lg-7" >
                                        {{pageData1.0.1.2.1}} 
                                    </div>
                                </div> 
                            </div>

                             <div class="form-group">
                                <div style="padding-left: 2px; width:100%; ">
                                    <div class=" dataFont2 col-lg-6" >
                                         
                                    </div>
                                    <div class="dataFont1 col-lg-6" >
                                        
                                    </div>
                                </div> 
                            </div>
                           
                            <div class="form-group">
                                <div style="padding-left: 2px; width:100%; ">
                                    <div class=" dataFont2 " >
                                        Purpose:  
                                    </div>
                                    <div class="dataFont1" style="text-indent:30px;">
                                        {{pageData1.0.0.2}} 
                                    </div>
                                </div> 
                            </div>
                            
                                
                            </div>
                        </div>
                    </div>

                  
                
                <div class="col-lg-12" style="display: inline;">
                    
                       

                        <!--  -->
                        
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title">Receiving Suppliers</h3>
                            </div>
                            <div class="panel-body">
                                <div class="table-responsive">
                                  <table class="table table-striped table-bordered table-hover" id="theTable">
                                    <thead>
                                        <tr>
                                            <th>Supplier Name</th>
                                            <th>Address</th>
                                            <th class="text-center">Rating</th>
                                            <th class="text-center" >Warranty Term</th>
                                            <th class="text-center" >Delivery Term</th>
                                            <th class="text-center" >Price Validity</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for x in pageData1.3 %}
                                        <tr style="display: none">
                                            <td colspan="6">{{x}}</td>
                                        </tr>
                                            <tr>
                                               <td>{{x.1.1}}</td> 
                                               <td>{{x.1.2}}</td>
                                               <td class="text-center">
                                                    <i class=" icon-star"></i>
                                                    <i class=" icon-star"></i>
                                                    <i class=" icon-star"></i>
                                                    <i class=" icon-star"></i>
                                                    <i class=" icon-star-empty"></i>
                                               </td>
                                               <td class="text-center">{{x.0.2|floatformat|intcomma}}</td> 
                                               <td class="text-center">{{x.0.3|floatformat|intcomma}}</td>    
                                               <td class="text-center">{{x.0.4|floatformat|intcomma}}</td> 
                                            </tr>

                                        {% endfor %}
                                    
                                    </tbody>
                                </table>
                            </div>
                                
                            </div>
                        </div>
                    
                    <!-- -->

                </div>

                <div class="col-lg-12" style="display: inline;">
                    
                       

                        <!--  -->
                        
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title">Purchase Request and Quotation Included Items</h3>
                            </div>
                            <div class="panel-body">
                                <div class="table-responsive">
                              <table class="table table-striped table-bordered table-hover" id="theTable">
                                    <thead>
                                        <tr>
                                            <th class="text-center" style="width:90px;">Item No.</th>
                                            <th>Requested Item Description</th>
                                            <th class="text-right" >Quantity</th>
                                            <th class="text-center"  >Unit</th>
                                            <th class="text-right"  >Unit Cost</th>
                                            <th class="text-right"  >Total</th>
                                            <th class="text-center">On Quotaion</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for xx in pageData2 %}
                                             <tr>
                                               
                                               <td class="text-center">{{xx.1}}</td> 
                                               <td>{{xx.2}}</td>
                                               <td class="text-right">{{xx.1}}</td>    
                                               <td class="text-center">{{xx.1}}</td>
                                               <td class="text-right">{{xx.1}}</td>
                                               <td class="text-right">{{xx.1}}</td>
                                               <td class="text-center"><label class="label label-success">Included</label></td>

                                            </tr>

                                        {% endfor %}

                                    </tbody>
                                </table>
                            </div>
                                
                            </div>
                        </div>
                    
                    <!-- -->

                </div>


                <!-- /. ROW  -->
                
                  

                <div class="panel-body"  style="padding:0px;">
                    

               </div>


                </div>    

                </div>


            <!-- /. PAGE INNER  -->
        </div>
        <!-- /. PAGE WRAPPER  -->
    </div>
    <div id="footer-sec">
       &copy; Mindanao State University <i class=" buttom-header-right">Equipement Inventory </i>  
    </div>

    <!-- /. FOOTER  -->
    <!-- SCRIPTS -AT THE BOTOM TO REDUCE THE LOAD TIME-->
    <!-- JQUERY SCRIPTS -->
    <script src="{% static 'assets/js/jquery-1.10.2.js' %}"></script>
    <!-- BOOTSTRAP SCRIPTS -->
    <script src="{% static 'assets/js/bootstrap.js' %}"></script>
    <!-- METISMENU SCRIPTS -->
    <script src="{% static 'assets/js/jquery.metisMenu.js' %}"></script>
    <!-- CUSTOM SCRIPTS -->
    <script src="{% static 'assets/js/custom.js' %}"></script>
    <!-- WIZARD SCRIPTS -->
    <script src="{% static 'assets/plugins/morris/raphael-2.1.0.min.js' %}"></script>
    <script src="{% static 'assets/plugins/morris/morris.js' %}"></script>

   <script type="text/javascript">
            
    $(document).ready(function () {
        $('#quoList').attr('class', 'active-menu-proc')
        $('#theT').html('R.Q. {{pageData1.1.0.0}} Details')
        $('#rqacUL').attr('class','nav nav-second-level collapse in')
    })

    </script>

{% endblock %}
