
        a {color:#408dd0;}      /* unvisited link */
        a:visited {color:#053ad8;}  /* visited link */
        a:hover {color:#053ad8;}  /* mouse over link */
        a:active {color:#408dd0;}  /* selected link */