
/*=============================================================
    Authour URI: www.binarytheme.com
    License: Commons Attribution 3.0

    http://creativecommons.org/licenses/by/3.0/

    100% To use For Personal And Commercial Use.
    IN EXCHANGE JUST GIVE US CREDITS AND TELL YOUR FRIENDS ABOUT US
   
    ========================================================  */


/*==============================================
    BASIC  STYLES    
    =============================================*/
body {
    font-family: 'Open Sans', sans-serif;
    line-height: 18px;
}

#wrapper {
    width: 100%;
    --min-width: 1378px;
    background: #202020;
}

#page-wrapper {
    padding: 10px 10px;
    min-height: 1200px;
    background: #fff!important;
	
}

#page-inner {
    
    width: 100%;
    
    margin: 5px 15px 5px 0px;
    background-color: #fff!important;
	--background-color: #d2322d;

    min-height: 1200px;
	--max-height: 1200px;
    margin-top: 50px;
}

#page-inner-2 {
    width: 100%;
    margin: 5px 15px 5px 0px;
    --background-color: #fff!important;
    background-color: #d2322d;
    padding: 1px;
    --max-height: 500px;
}


.page-head-line {
    font-size: 30px;
    text-transform: uppercase;
    color: #000;
    font-weight: 800;
    padding-bottom: 20px;
    border-bottom: 2px solid #00CA79;
    margin-bottom: 20px;
}

.page-subhead-line {
    font-size: 14px;
    padding-top: 5px;
    padding-bottom: 20px;
    font-style:italic;
    margin-bottom:30px;
    border-bottom:1px dashed #00CA79;

}


.test{
	
	padding-top: 20px;
	--background-color: #ed9c28;
	--background-color: #d2322d;
	--width: 100%;
    --height: 100%;
	--padding-left: 50px;
	--max-width: 500px;
	--padding: 1px 130px 1px 130px;
	margin-left: auto;
	margin-right: auto;
}

.test2{
	
	padding-top: 125px;
	--padding-bottom: 20px;
	--background-color:#3276b1;
	max-width: 240px;
	--padding-left: 50px;
	min-height: 240px;
    --padding: 20px;
	--padding: 1px 394px 1px 394px;
	
	margin-left: auto;
	margin-right: auto;
}
 

.test2 img{
	 
	 
	 max-height: 240px;
	 background-color: #202020;
	 
 }

.profiletest2{

    max-width: 180px;
    min-height: 180px;
    
    margin-left: auto;
    margin-right: auto;
}


        
.profiletest2 img{
             
    max-height: 180px;
    background-color: #202020;
             
}
 
.test3{
	padding-top: 210px;
	background-color: #ed9c28;
 }

.test4{
    padding-top: 50px;
    background-color: #ed9c28;
 }

.new-panel-ds{
    width: 100%;
   
    background-color: #fff!important;
    padding: 0px;
    
    min-height: 625px;
    max-height: 625px;
 }


 .putcenter{
	
	width: 100%;
	margin-left: auto;
	margin-right: auto;
 }
 
 .col-centered{
    float: none;
    margin: 0 auto;
}

.btn-circle {
  width: 40px;
  height: 40px;
  line-height: 40px; /* adjust line height to align vertically*/
  padding:0;
  border-radius: 50%;
}
/*==============================================
    MENU STYLES    
    =============================================*/


.navbar-cls-top .navbar-brand {
    color: #fff;
    background: #333;
    text-align: left;
    height: 50px;
    font-size: 17px;
    letter-spacing: 1px;
    font-weight: 200;
    
    padding-top: 15px;
    padding-left: 5px;

   
}

.end-part{
	text-align: right;
}
     

.header-right {

    padding: 15px 50px 5px 50px;
    padding: 1px;
    padding-right: 10px; 
    float: right;
    font-size: 16px;
}

.buttom-header-right{
    
    float: right;
    font-size:12px;
    text-decoration:none;
    
}

.navbar-cls-top .navbar-brand:hover {
    --background: #3071a9;
    --color: #fff;
    --padding: 0px;

}


.active-menu-acctng {
    background-color: #6f1717!important;
}
.active-menu-proc {
    background-color: #8a390b!important;
}
.active-menu-requi {
    background-color: #025656!important;
}

.active-menu-approv {
    background-color: #024004!important;
}
.active-menu-inven {
    background-color: #030352!important;
}

.active-menu-inven-rec{
    background-color: #043150!important;
}

.active-menu-inven-acct {
    background-color: #541f54!important;
}

.active-menu-inven-equi {
    background-color: #34126b!important;
}

.active-menu-inven-supp {
    background-color: #26497d!important;
}


.active-menu-nonrequi  {
    background-color: #618a1e!important;
}

.active-menu-super  {
    background-color: #1b2c4a!important;
}

.active-menu-top {
    background-color: #000!important;
}
.arrow {
    float: right;
}

.fa.arrow:before {
    content: "\f104";
}

.active > a > .fa.arrow:before {
    content: "\f107";
}


.nav-second-level li,
.nav-third-level li {
    border-bottom: none !important;
}

    .nav-second-level li a {
        padding-left: 20px;
        background-color: #313131;
    }

    .nav-third-level li a {
        padding-left: 55px;
    }

.sidebar-collapse, .sidebar-collapse .nav {
    background: none;
}

    .sidebar-collapse .nav {
        padding: 0;
    }

        .sidebar-collapse .nav > li > a {
            color: #fff;
            background: #202020;
            text-shadow: none;
            font-size: 12px;
            padding: 12px 40px;
            padding-left: 30px;
            border-bottom: 1px solid #2F2E31;
        }

    .sidebar-collapse > .nav > li > a {
        padding: 12px 10px;
        font-size: 12px;

    }

    .sidebar-collapse .nav > li > a:hover,
    .sidebar-collapse .nav > li > a:focus {
        background: #0A0A0A;
        outline: 0;
    }



.nav-second-level > li:last-child > a:after,
.nav-third-level > li:last-child > a:after {
    height: 50%;
}

.nav-third-level > li > a:after,
.nav-third-level > li > a:before {
    left: 40px;
}

.navbar-side {
    border: none;
    background-color:#202020;
}

.navbar-cls-top {
    background: #00CA79;
    border-bottom: none;
	background-color: #333;
	
}


.navbar-default {
    border: 1px gray;
}

.navbar-header {
    background: #000000;
}

.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
    background-color:#00CA79;
}

.navbar-default .navbar-toggle {
    border-color: #fff;
}

    .navbar-default .navbar-toggle .icon-bar {
        background-color: #FFF;
    }

.nav > li > a > i {
    margin-right: 10px;
}
/*==============================================
    FOOTER  STYLES    
    =============================================*/
#footer-sec {
    background-color:#000;
    padding:15px 50px;
    color:#fff;
    font-size:12px;
}

    #footer-sec a {
        color:#fff;
    }
    #footer-sec a:hover,a:focus {
        color:#fff;
        text-decoration:none;
    }

 .side-nav-fontsize{
    font-size: 13px;
    font-weight: 100;

 }   
/*==============================================
    MEDIA QUERIES     
    =============================================*/

@media (min-width:768px) {
    #page-wrapper {
        margin: 0 0 0 200px;
        padding: 10px 10px;
        min-height: 600px;
		
    }


    .navbar-side {
        z-index: 1;
        position: absolute;
        width: 200px;
    }

    .navbar {
        border-radius: 0px;
    }

 /*=================================================
    top nav
    ================================================*/
.top-nav {
    --padding: 0 15px;
}

.top-nav>li {
    display: inline-block;
    float: left;
}

.top-nav>li>a {
    padding-top: 15px;
    padding-bottom: 15px;
    line-height: 20px;
    color: #fff;
}

.top-nav>li>a:hover,
.top-nav>li>a:focus,
.top-nav>.open>a,
.top-nav>.open>a:hover,
.top-nav>.open>a:focus {
    color: #fff;
    background-color: #000;
}

.top-nav>.open>.dropdown-menu {
    float: left;
    position: absolute;
    margin-top: 0;
    border: 1px solid rgba(0,0,0,.15);
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    background-color: #fff;
    -webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
    box-shadow: 0 6px 12px rgba(0,0,0,.175);
}

.top-nav>.open>.dropdown-menu>li>a {
    white-space: normal;
}

ul.message-dropdown {
    padding: 0;
    max-height: 250px;
    overflow-x: hidden;
    overflow-y: auto;
}

li.message-preview {
    width: 275px;
    border-bottom: 1px solid rgba(0,0,0,.15);
}

li.message-preview>a {
    padding-top: 15px;
    padding-bottom: 15px;
}

li.message-footer {
    margin: 5px 0;
}

ul.alert-dropdown {
    width: 200px;
}
}
