<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Item List ewe</title>
    {% load staticfiles %}
   <!-- BOOTSTRAP STYLES-->
    <link href="{% static 'assets/css/bootstrap.css' %}" rel="stylesheet" />
    <!-- FONTAWESOME STYLES-->
    <link href="{% static 'assets/css/font-awesome.css' %}" rel="stylesheet" />
    <!--CUSTOM BASIC STYLES-->
    <link href="{% static 'assets/css/basic.css' %}" rel="stylesheet" />
    <link href="{% static 'assets/css/navbar-inven.css' %}" rel="stylesheet" />
    <!--CUSTOM MAIN STYLES-->
    <link href="{% static 'assets/css/custom.css' %}" rel="stylesheet" />
    
    <link rel="stylesheet" href="{% static 'assets/plugins/Font-Awesome/css/font-awesome.css' %}" />

    <link href="{% static 'assets/css/wizard/jquery.steps.css' %}" rel="stylesheet" />

    <link href="{% static 'assets/plugins/dataTables/dataTables.bootstrap.css' %}" rel="stylesheet" />

    <link rel="shortcut icon" href="{% static 'assets/img/Msu.ico' %}" type="image/x-icon" /> 

    
</head>
<body>
    <div id="wrapper">
        <!-- /. NAV TOP  -->
        <nav class="navbar navbar-default navbar-inverse navbar-fixed-top navbar-cls-top" role="navigation" 
                    style="
                        margin-bottom: 0px;
                          ">
           
           <div  class="navbar-header navbar-brand"></div>

           <ul class="nav navbar-right top-nav" 
                        style="
                        margin-right: 50px;
                        ">
                
               <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        
                        {% if taskNum.0.0 != 0 %}
                            <span class="label label-danger">{{taskNum.0.0}}</span> 
                        {% endif %}
                    
                    <i class="icon-tasks"></i><b class="caret"></b></a>
                    <ul class="dropdown-menu message-dropdown">
                    
                    <li class="message-preview">
                            
                            <a style="padding-bottom:5px; height: 35px; padding-top: 10px;">
                                
                                <div class="media">
                                    
                                          
                                    <div class="media-body " style="margin-left:95px;">
                                        <h5 class="media-heading">
                                            <strong>Tasks</strong>
                                        </h5>
                                        
                                    </div>
                                </div>
                                
                            </a>
                        </li>


                    {% if taskNum.0.0 == 0 %}

                        <li class="message-preview" >
                            
                                <a>
                                <div class="media" >
                                    <span class="pull-left" >
                                        <div class="btn btn-info btn-circle" role="button" aria-disabled="true" disabled = "disabled">
                                        <i class="icon-info"></i></div>
                                    </span>  
                                    <div class="media-body">
                                        <h5 class="media-heading">
                                            <strong>No task to process at the moment</strong>
                                        </h5>
                                    </div>
                                </div>
                            </a>
                            
                        </li>

                    {% endif %}    
                    
                    {% for x in taskDetails %}
                        
                        <li class="message-preview">
                            

                            <a>
                                
                                <div class="media">
                                    
                                        <span class="pull-left" >
                                        <div class="btn btn-{{x.2}} btn-circle" role="button" aria-disabled="true" disabled = "disabled">
                                        <i class="{{x.1}}"></i></div>
                                    </span>  
                                    <div class="media-body">
                                        <h5 class="media-heading">
                                            <strong>{{x.5}}</strong>
                                        </h5>
                                        <p class="small text-muted"><i class="fa fa-clock-o"></i> Yesterday at 4:32 PM</p>
                                        <p style="margin-bottom:5px;">It was for the request with:</p> 
                                        <p style="margin-bottom:5px;">{{x.3}}</p>      
                                        <p>{{x.4}}</p>
                                    </div>
                                    <form action="/requisitioner/notifs/" method="post">{% csrf_token %}
                                    <div class="media-body" style="float: right;">
                                        <button class="btn btn-xs btn-info" type="submit" name="d" value="{{x.0}}">View Details</button>    
                                    </div>
                                    </form>

                                </div>
                                
                            </a>
                        </li>

                     {% endfor %}   


                    </ul>
                </li>    
                
                <li class="dropdown">

                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">

                        {% if notifNum.0.0 != 0 %}
                            <span class="label label-danger">{{notifNum.0.0}}</span> 
                        {% endif %}
                    
                    <i class="icon-bell"></i><b class="caret"></b></a>
                    
                    <ul class="dropdown-menu message-dropdown">
                        
                        <li class="message-preview">
                            
                            <a style="padding-bottom:5px; height: 35px; padding-top: 10px;">
                                
                                <div class="media">
                                    
                                          
                                    <div class="media-body" style="margin-left:75px;">
                                        <h5 class="media-heading">
                                            <strong>Notifications</strong>
                                        </h5>
                                        
                                    </div>
                                </div>
                                
                            </a>
                        </li>

                        {% if notifNum.0.0 == 0 %}

                        <li class="message-preview" >
                            
                                <a>
                                <div class="media" >
                                    <span class="pull-left" >
                                        <div class="btn btn-info btn-circle" role="button" aria-disabled="true" disabled = "disabled">
                                        <i class="icon-info"></i></div>
                                    </span>  
                                    <div class="media-body">
                                        <h5 class="media-heading">
                                            <strong>No unread notification at the moment</strong>
                                        </h5>
                                    </div>
                                </div>
                            </a>
                            
                        </li>

                    {% endif %}

                       {% for x in notifDetails %}

                       <li class="message-preview" >
                            
                                <a>
                                <div class="media" >
                                    <span class="pull-left" >
                                        <div class="btn btn-{{x.2}} btn-circle" role="button" aria-disabled="true" disabled = "disabled">
                                        <i class="{{x.1}}"></i></div>
                                    </span>  
                                    <div class="media-body">
                                        <h5 class="media-heading">
                                            <strong>{{x.5}}</strong>
                                        </h5>
                                        <p class="small text-muted"><i class="fa fa-clock-o"></i> Yesterday at 4:32 PM</p>
                                        <p style="margin-bottom:5px;">{{x.3}}</p>      
                                        <p>{{x.4}}</p>
                                    </div>
                                    <form action="/requisitioner/notifs/" method="post">{% csrf_token %}
                                    <div class="media-body" style="float: right;">
                                        <button class="btn btn-xs btn-info" type="submit" name="d" value="{{x.0}}">View Details</button>    
                                    </div>
                                    </form>
                                </div>
                            </a>
                            
                        </li>
                       
                       {% endfor %}
                        

                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle"  data-toggle="dropdown"><i class="icon-user"></i><b class="caret"></b></a>
                    <ul class="dropdown-menu" style="width:220px;">
                        <li>
                            <a href="/inventory_office/profile"><i class="fa fa-fw fa-user"></i> Profile</a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="/inventory_office/equipement"><i class="fa fa-fw fa-qrcode"></i> Equipment Inventory</a>
                        </li>
                        <li>
                            <a href="/inventory_office/inventory"><i class="fa fa-fw icon-paper-clip" style="margin-left:4px;margin-right:4px;"></i> Supplies Inventory</a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="/inventory_office/receive/"><i class="fa fa-fw fa-truck"></i> Received Items</a>
                        </li>
                        <li>
                            <a href="/inventory_office/accounts"><i class="fa fa-fw fa-group"></i> Employee Acct. Items</a>
                        </li> 
                        <li class="divider"></li>
                        <li>
                            <a href="#"><i class="fa fa-fw icon-desktop" style="margin-left:4px;margin-right:4px;"></i> Switch User-Type</a>
                        </li>                       
                        <li class="divider"></li>
                        <li>
                            <a href="/login"><i class="fa fa-fw icon-signout" style="margin-left:4px;margin-right:4px;"></i> Log Out</a>
                        </li>
                    </ul>
                </li>
            </ul>
             <div class="navbar-default navbar-side" style="margin-top: 50px;" role="navigation">
              <div class="sidebar-collapse"> 
                <ul class="nav" id="main-menu">
                    <li style="
                         height: 140px;
                        ">
                        <div class="user-img-div">

                            <a href="requisitioner_profile.html"><img src="{% static 'assets/img/user.jpeg' %}" class="img-circle" /></a>

                            <div class="inner-text">
              <p></p>
                                <a href="requisitioner_profile.html" class = "inner-text">{{lname}}, {{fname}}</a>
                            <br />
                                <small>{{dept}} - {{designation}}</small>
                
                              
              </div>
                        </div>

                     <li>
                        <a href="/inventory_office_rec_off"><i class="fa fa-home "></i>Home</a>
                    </li>
                    <li>
                        <a href="/inventory_office_rec_off/profile"><i class="fa fa-user "></i>Profile </a>
                        
                    </li>
                    <li>
                        <a  class="active-menu-inven-rec"   href="/inventory_office_rec_off/items"><i class="icon-list"></i>Recorded Item Names</a>
                        
                    </li>
                    
                    <li>
                        <a href="/inventory_office_rec_off/inventory"><i class="icon-paper-clip"></i>Supplies Inventory</a>
                    </li>
                    <li>
                        <a href=""><i class="icon-file"></i>Req. and Iss. Slips (RIS)</a>
                    </li>
                    <li>
                        <a  href="#"><i class="icon-truck "></i>Received Items<span class="fa arrow"></span></a>
                         <ul class="nav nav-second-level">
                            <li>
                                <a href="/inventory_office_rec_off/add_receive"><i class="icon-plus"></i>New Items</a>
                            </li>
                            <li>
                                <a href="/inventory_office_rec_off/receive"><i class="icon-tags"></i>View All Received</a>
                            </li>
                            
                        </ul>
                    </li>
                    <li>
                        <a  href="#"><i class="icon-bar-chart"></i>Reports<span class="fa arrow"></span></a>
                         <ul class="nav nav-second-level">
                            <li>
                                <a href="/inventory_office_rec_off/physical_count"><i class="icon-list-alt"></i>PCP</a>
                            </li>
                            <li>
                                <a href="/inventory_office_rec_off/waste_material"><i class="icon-trash"></i>WMI</a>
                            </li>
                            
                        </ul>
                    </li>
          
                </ul>
            </div>

</div>
        </nav>

        <div id="page-wrapper">
            <div id="page-inner" style="
            margin-bottom: 0px;
            ">
              

               
               <div class="panel panel-body" style="
                 margin-bottom: 0px;
                 padding-left: 2px;
                 font-size: 25px;
                 padding-top: 10px;
                 padding-bottom: 0px;
                ">
                <div>                     
                Employees Account of Items - Colleges and Offices
                </div>
                  <hr> 
               </div>

               <div class="panel new-panel-ds"
                        style="
                        margin-bottom: 0px;
                             ">
                
                                <div id="wrap" style="position:relative;">
                            <div id="wrap" style="position:relative;">
                            <div id="left" class ="panel"
                                style="
                                    
                                    height: 625px;
                                 
                                ">
                                 <div class="panel-body" style="
                                 padding-top:0px;
                                 padding-left: 0px;
                                 padding-right: 0px;
                                 ">

                            <div class="table-responsive">
                                <div id="dataTables-example_wrapper" class="dataTables_wrapper form-inline" role="grid">
                                    
                        <div class="col-md-12" style="
                                    padding-left: 0px;
                                    padding-right: 0px;
                                    ">
                                <div class="panel">
                            
                            <div class="panel-body" style="padding: 2px; padding-top:0px;">
                            <div class="table-responsive">
                                <table class="table table-hover">
                                    <thead>
                                        
                                        <tr>
                                            <th>ID</th>
                                            <th>Office</th>
                                            <th class="text-center">No. of Items</th>
                                            <th class="text-center">%"pending title"%</th>
                                            <th class="text-center">Actions</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        
                                        <tr>
                                            <td>CNSM</td>
                                            <td>College of Natural Sciences and Mathematics</td>
                                            <td class="text-center">0</td>
                                            <td class="text-center">0</td>
                                            <td class="text-center">
                                               <form id="detailsButton" action="/inventory_office/accounts/offices/details/" method="POST">{% csrf_token %} 
                                               <div>
                                               <button name ="offDetails" value="{{x.0}}" class="btn btn-xs btn-primary" role ="submit" aria-disabled="true">View Details</button>
                                               </div>
                                               </form>
                                           
                                            </td>
                                        </tr>
                                         
                                         <tr>
                                            <td>IT-Physics</td>
                                            <td>Information Technology and Physics Department</td>
                                            <td class="text-center">0</td>
                                            <td class="text-center">0</td>
                                            <td class="text-center">
                                               <form id="detailsButton" action="/inventory_office/accounts/offices/details/" method="POST">{% csrf_token %} 
                                               <div>
                                               <button name ="offDetails" value="{{x.0}}" class="btn btn-xs btn-primary" role ="submit" aria-disabled="true">View Details</button>
                                               </div>
                                               </form>
                                           
                                            </td>
                                        </tr> 
                                        <tr>
                                            <td>Math</td>
                                            <td>Mathematics Department</td>
                                            <td class="text-center">0</td>
                                            <td class="text-center">0</td>
                                            <td class="text-center">
                                               <form id="detailsButton" action="/inventory_office/accounts/offices/details/" method="POST">{% csrf_token %} 
                                               <div>
                                               <button name ="offDetails" value="{{x.0}}" class="btn btn-xs btn-primary" role ="submit" aria-disabled="true">View Details</button>
                                               </div>
                                               </form>
                                           
                                            </td>
                                        </tr> 
                                        <tr>
                                            <td>Bio</td>
                                            <td>Biology Department</td>
                                            <td class="text-center">0</td>
                                            <td class="text-center">0</td>
                                            <td class="text-center">
                                               <form id="detailsButton" action="/inventory_office/accounts/offices/details/" method="POST">{% csrf_token %} 
                                               <div>
                                               <button name ="offDetails" value="{{x.0}}" class="btn btn-xs btn-primary" role ="submit" aria-disabled="true">View Details</button>
                                               </div>
                                               </form>
                                           
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                           
                        </div>

                        </div>
                            

                    </div>


                    </div>
                                </div>
                            </div>
                           
                        </div>
                            </div>

                        </div>

                    </div> 
  </div>
                    </div> 
        <!-- /. NAV SIDE  -->
        <div id="page-wrapper">
            <div id="page-inner" style="
            margin-bottom: 0px;
            ">

            <div style="   
                                     display:inline;
                                     float:right; 
                                     right:0; 
                                     padding-top:0px;
                                     margin-top:0px;
                                     margin-bottom:0px;
                                     padding-bottom: 0px;
                                     padding-right:20px;
                                    ">

                                        
                     <div >
                                <button class="btn btn-success" role ="button" aria-disabled="true" id="approveButton" name="approveButton" value="{{pageData1.0.1}}" data-toggle="modal"  data-target="#newReg"><i class="icon-plus"></i> New Item Information</button>
                            
                      </div>
                       
                       
                                    </div>

          

               <div class="panel panel-body" style="
                 margin-bottom: 0px;
                 padding-left: 2px;
                 font-size: 25px;
                 padding-top: 10px;
                 padding-bottom: 0px;
                ">
                <div>
                    
                     General Terms of Items
                </div>
                  <hr> 
               </div>

               <div class="panel new-panel-ds"
                        style="
                        margin-bottom: 0px;
                             ">
                
                                <div id="wrap" style="position:relative;">
                            <div id="wrap" style="position:relative;">
                            <div id="left" class ="panel"
                                style="
                                    
                                    height: 625px;
                                 
                                ">
                                 <div class="panel-body" style="
                                 padding-top:0px;
                                 padding-left: 0px;
                                 padding-right: 0px;
                                 ">

                            <div class="table-responsive">
                                <div id="dataTables-example_wrapper" class="dataTables_wrapper form-inline" role="grid">
                                    
                        <div class="col-md-12" style="
                                    padding-left: 0px;
                                    padding-right: 0px;
                                    ">
                                <div class="panel">
                            
                            <div class="panel-body" style="padding: 2px; padding-top:0px;">
                           
                            <div class="table-responsive">
                                <table class="table table-hover">
                                    <thead>
                                        <tr>
                                            <th>Description</th>
                                            <th>Type</th>
                                            <th style="width:200px;">Classification</th>
                                            <th class="text-right" style="width:200px;">Unit Price</th>
                                            <th style="width:180px;"></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        
                                        {% for x in pageData1 %}

                                            <tr>
                                                <td>{{x.1}}</td>
                                                <td>{{x.2}}</td>
                                                <td style="width:200px;">{{x.3}}</td>
                                                <td class="text-right" style="width:200px;">{{x.5}}</td>
                                                <td class="text-right" style="width:180px;">
                                                   <form id="detailsButton" action="/inventory_office/items/details" method="POST">{% csrf_token %} 
                                                   <div>
                                                   <button name ="itemDetails" value="{{x.0}}" class="btn btn-xs btn-primary" role ="submit" aria-disabled="true">View Details<i class="icon-circle-arrow-right" style="margin-left:5px;"></i></button>
                                                   </div>
                                                   </form>
                                               
                                                </td>
                                            </tr>


                                        {% endfor %}
                                        
                                      
                                    </tbody>
                                </table>
                            </div>
                           
                        </div>

                        </div>
                            

                    </div>


                    </div>
                                </div>
                            </div>
                           
                        </div>
                            </div>

                        </div>

                    </div> 
  </div>

                    </div> 
                    </div>
            
            </div>
            <!-- /. PAGE INNER  -->
            <!-- ===================================================   Modal ==================================================================================  -->
           
                       <div class="modal fade" id="newReg" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                            <h4 class="modal-title" id="H4"> New Item Information</h4>
                                    </div>
                                    
                                    <div class="modal-body">
                                        <div class="panel panel-body" style="padding-top:0px; margin:0px;">
                                            <form class="form-horizontal">

                                                <div id="descripDiv" class="form-group">
                                                        <label for="text1" class="control-label col-lg-4">Description: </label>
                                            
                                                    <div class="col-lg-8">
                                                        <input id="descrip" class="form-control" autofocus>
                                                        <span for="descrip" id="errorde"></span>
                                                    </div>
                                                </div>

                                                <div id="descripDiv" class="form-group">
                                                        <label for="text1" class="control-label col-lg-4">Type: </label>
                                            
                                                    <div class="col-lg-8">
                                                        <input id="type" class="form-control">
                                                        <span for="type" id="errorde"></span>
                                                    </div>
                                                </div>
                                                 

                                                 <div id="descripDiv" class="form-group">
                                                        <label for="text1" class="control-label col-lg-4">Classification: </label>
                                                    
                                                    


                                                    <div class="col-lg-8">

                                                        <div>
                                                          
                                                        


                                                        <input id="class" data-toggle="dropdown"  class="form-control dropdown-toggle" >
                                                        <ul class="dropdown-menu message-dropdown" style="right:0;">
                                                                <li style="padding-bottom:5px; padding-top:5px;">
                                                                    <a href="#"  id="equiSel"><i class="icon-wrench" style="margin-left:4px;margin-right:6px;"></i> Equipment</a>
                                                                </li>
                                                                <li style="padding-bottom:5px; padding-top:5px;">
                                                                    <a href="#" id="suppSel"><i class="icon-file" style="margin-left:4px;margin-right:10px;"></i> Supply</a>
                                                                </li>


                                                            </ul>
                                                        </div>
                                                        <span for="class" id="errorde"></span>
                                                    
                                                    </div>


                                                </div>
                                                <div class="form-group" style="margin-bottom:10px;">
                                                        <label for="text1" class="control-label col-lg-4">Unit: </label>
                                                        
                                                    <div class="col-lg-8">
                                                        <input id="unit" class="form-control" list="compSeacrhList" />
                                                        <datalist id="compSeacrhList">
                                                        <option>Unit</option>
                                                        <option>Piece</option>
                                                        <option>Bundle</option>
                                                        <option>Strip</option>
                                                        <option>Pair</option>
                                                        <option>Gram</option>
                                                        <option>Kilogram</option>
                                                        <option>Ounce</option>
                                                        <option>Meter</option>
                                                        <option>Inch</option>
                                                        <option>Foot</option>
                                                        <option>Brd. Feet</option>
                                                        <option>Cu. Feet</option>
                                                        <option>Cu. Meter</option>
                                                        <option>Litre</option>
                                                        <option>Load</option>
                                                        <option>Bottle</option>
                                                        <option>Case</option>
                                                        <option>Vial</option>
                                                        <option>Sheet</option>
                                                        <option>Peso</option>
                                                        </datalist>
                                                        <span id="errorun"></span>
                                                    </div>
                                                    
                                                </div>

                                                <div class="form-group" style="margin-bottom:10px;">
                                                    <label for="text1" class="control-label col-lg-4">Unit Price: </label>
                                            
                                                    <div class="col-lg-8">
                                                        <input id="price" class="form-control" />
                                                        <span id="errorpr"></span>
                                                    </div>
                                                </div>
                                        
                                            </form>
                                        </div>
                                    </div>
                                        
                                    <div class="modal-footer">
                                            <button id="addList" type="submit" class="btn btn-success" >Save Item Information</button>
                                    </div>
                                </div>
                            </div>
                        </div>

<!-- ===================================================   Modal ==================================================================================  -->




        </div>
        <!-- /. PAGE WRAPPER  -->
    </div>
    <!-- /. WRAPPER  -->
<div id="footer-sec">
       &copy; Mindanao State University - General Santos City </i>  
    </div>

    <!-- /. FOOTER  -->
    <!-- SCRIPTS -AT THE BOTOM TO REDUCE THE LOAD TIME-->
    <!-- JQUERY SCRIPTS -->
    <script src="{% static 'assets/js/jquery-1.10.2.js' %}"></script>
    <!-- BOOTSTRAP SCRIPTS -->
    <script src="{% static 'assets/js/bootstrap.js' %}"></script>
    <!-- METISMENU SCRIPTS -->
    <script src="{% static 'assets/js/jquery.metisMenu.js' %}"></script>
    <!-- CUSTOM SCRIPTS -->
    <script src="{% static 'assets/js/custom.js' %}"></script>
    <!-- WIZARD SCRIPTS -->
    
    <script type="text/javascript">
        
    $('#equiSel').click(function (argument) {
        $('#class').val('Equipment')
    }) 

    $('#suppSel').click(function (argument) {
        $('#class').val('Supply')
    })   

    $('#price').keypress(function(event){

       if(event.which != 8 && isNaN(String.fromCharCode(event.which))){
            document.getElementById("errorpr").innerHTML = "Non-number input is not allowed" 
           event.preventDefault(); //stop character from entering input
       }
       else{
        document.getElementById("errorpr").innerHTML = ""
        $('#price').removeAttr("style") 
       }

    });

    $('#addList').click(function (e) {
            
         e.preventDefault();
            
            
            $.ajax({
                type: 'POST',
                url:'/inventory_office/addNewItem/',
                data:{
                    
                    'description': $('#descrip').val(),
                    'type': $('#type').val(),
                    'class': $('#class').val(),
                    'unit': $('#unit').val(),
                    'price': $('#price').val(),
                    csrfmiddlewaretoken:$('input[name=csrfmiddlewaretoken]').val(),

                },

                    success:function() {
                        alert("Complete")
                    }

            });

    })

    </script>

</body>
</html>




