{% extends 'inventory_office_admin/base.html' %}
{% load staticfiles %}
{% block content %}
         <div id="page-wrapper">


            <!--  ======================================================== 

              <div style="   
                                     display:inline;
                                     padding: 0px;
                                     margin: 0px;
                                     margin-top: 51px;
                                     float:right; 
                                     right:0; 
                                     padding-right:20px;">

                                        
                       
                        <div class="btn-group">
                                       <a data-toggle="dropdown" class="btn btn-success"><i class="icon-plus"></i> New Equipment Information<span style="margin-left:5px;" class="caret"></span></a>  
                                       <ul class="dropdown-menu message-dropdown" style="right:0;">
                                            <li style="padding-bottom:5px; padding-top:5px;">
                                                <a href="#" ><i class="icon-desktop" style="margin-left:4px;margin-right:6px;"></i> Add New Equipment</a>
                                            </li>
                                            <li style="padding-bottom:5px; padding-top:5px;">
                                                <a href="#"><i class="icon-list" style="margin-left:4px;margin-right:10px;"></i> Add New  Particular</a>
                                            </li>


                                        </ul>     
                         </div>


                        <div class="btn-group">
                                        <a data-toggle="dropdown" class="btn btn-primary dropdown-toggle"><i class="icon-bar-chart"></i> Generates Inventory Reports<span style="margin-left:5px;" class="caret"></span></a>
                                        <ul class="dropdown-menu message-dropdown" style="right:0;">
                                            <li style="padding-bottom:5px; padding-top:5px;">
                                                <a href="#" ><i class="icon-list-alt" style="margin-left:4px;margin-right:6px;"></i> Physical Count of Property</a>
                                            </li>
                                            <li style="padding-bottom:5px; padding-top:5px;">
                                                <a href="#"><i class="icon-trash" style="margin-left:4px;margin-right:10px;"></i> Waste Material Report</a>
                                            </li>


                                        </ul>
                         </div>
                </div>  -->

            <form id="theReqData" action="" method="POST">{% csrf_token %}
            <div class="panel-body" style="
                 margin-bottom: 0px;
                 padding-left: 15px;
                 font-size: 25px;
                 padding-top: 10px;
                 padding-bottom: 0px;
                 margin-top:48px; 

                ">
                <div>
                    
                     {{pageData2.0.1}}
                </div>
                 
               </div>
               </form>



            <div id="page-inner" style="margin-top:0px; background-color: #ddd!important;">
             
                <hr>
                 
                <div class="col-lg-12" style="">
                         <div class="panel panel-default">
                            
                             <div class="panel-body" style="padding:0px;padding-top:20px; ">
                                
    <div class="col-lg-3 col-md-3">
                        <div class="panel panel-info">
                            <div class="panel-heading">
                                <div class="row">
                                    <div class="col-xs-3">
                                        <i class="fa fa-qrcode fa-2x"></i>
                                    </div>
                                    <div class="col-xs-9 text-right">
                                        <div  >Total Quantity of Items</div>
                                       <div style=" margin-left:15px;  margin-top:8px;"><span class="badge" style="font-size:15px;">00</span></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3">
                        <div class="panel panel-success">
                            <div class="panel-heading">
                                <div class="row">
                                    <div class="col-xs-3">
                                        <i class="fa fa-money fa-2x"></i>
                                    </div>
                                    <div class="col-xs-9 text-right">
                                        <div  >Total Cost of Items</div>
                                        <div style=" margin-left:15px; margin-top:8px;"><span class="badge" style="font-size:15px;">00</span></div>
                                    </div>
                                </div>
                            </div>
                          
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3">
                        <div class="panel panel-success">
                            <div class="panel-heading">
                                <div class="row">
                                    <div class="col-xs-3">
                                        <i class="fa icon-edit fa-2x"></i>
                                    </div>
                                    <div class="col-xs-9 text-right">
                                        <div >Qty. Still on Account</div>
                                        <div style=" margin-left:15px; margin-top:8px;"><span class="badge" style="font-size:15px;">00</span></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-3">
                        <div class="panel panel-danger">
                            <div class="panel-heading">
                                <div class="row">
                                    <div class="col-xs-3">
                                        <i class="fa fa-trash fa-2x"></i>
                                    </div>
                                    <div class="col-xs-9 text-right">
                                    <div  >Reported to Waste </div>
                                        <div style=" margin-left:15px; margin-top:8px;"><span class="badge" style="font-size:15px;">00</span></div>
                                    </div>
                                </div>
                            </div>
                           
                        </div>
                    </div>



                                
                            </div>
                        </div>
                    </div>
                    
                <div class="col-lg-12">
                    
                       

                        <!--  -->
                        
                        <div class="panel panel-default">
                            
                            <div class="panel-body">
                            <div class="panel">
                            

                            <div class="panel-body" style="padding: 2px; padding-top:0px;">
                            <div class="table-responsive">
                                     <table class="table table-hover">
                                    <thead>
                                        <tr>
                                            <th>Brand</th>
                                            <th>Description</th>
                                            <th class="text-right" style="width:200px;">Quantity on Account</th>
                                            <th class="text-right" style="width:200px;">Total Cost Value</th>
                                            <th style="width:180px;"></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for x in pageData1 %}
                                            <tr>
                                                <td>{{x.3}}</td>
                                                <td>{{x.2}}</td>
                                                <td class="text-right" style="width:200px;">000,000</td>
                                                <td class="text-right" style="width:200px;">000,000,000</td>
                                                <td class="text-right" style="width:180px;">
                                                   <form id="detailsButton" action="/inventory_office/displayEquipDetails/" method="POST">{% csrf_token %} 
                                                   <div>
                                                   <button name ="equiIDButton" value="{{x.0}}" class="btn btn-xs btn-primary" role ="submit" aria-disabled="true">View Details<i class="icon-circle-arrow-right" style="margin-left:5px;"></i></button>
                                                   </div>
                                                   </form>
                                               
                                                </td>
                                            </tr>
                                        
                                        {% endfor %}
                                       
                                    </tbody>
                                </table>
                            </div>
                           
                        </div>
                        </div>
                            </div>
                        </div>
                    
                    <!-- -->

                </div>

                <!-- /. ROW  -->

                <div class="panel-body"  style="padding:0px;">
                   
               </div>


                </div>    


               <!--  ========================================================   -->



                    </div>  




        
        
                    </div>
            
            </div>
            <!-- /. PAGE INNER  -->
        </div>
        <!-- /. PAGE WRAPPER  -->
    </div>
    <!-- /. WRAPPER  -->
<div id="footer-sec">
       &copy; Mindanao State University - General Santos City </i>  
    </div>

    <!-- /. FOOTER  -->
    <!-- SCRIPTS -AT THE BOTOM TO REDUCE THE LOAD TIME-->
    <!-- JQUERY SCRIPTS -->
    <script src="{% static 'assets/js/jquery-1.10.2.js' %}"></script>
    <!-- BOOTSTRAP SCRIPTS -->
    <script src="{% static 'assets/js/bootstrap.js' %}"></script>
    <!-- METISMENU SCRIPTS -->
    <script src="{% static 'assets/js/jquery.metisMenu.js' %}"></script>
    <!-- CUSTOM SCRIPTS -->
    <script src="{% static 'assets/js/custom.js' %}"></script>
    <!-- WIZARD SCRIPTS -->
    <script src="{% static 'assets/js/wizard/modernizr-2.6.2.min.js' %}"></script>
    <script src="{% static 'assets/js/wizard/jquery.cookie-1.3.1.js' %}"></script>
    <script src="{% static 'assets/js/wizard/jquery.steps-addReceive.js' %}"></script>

    <script src="{% static 'assets/plugins/modernizr-2.6.2-respond-1.1.0.min.js' %}"></script>
    <script src="{% static 'assets/plugins/dataTables/jquery.dataTables.js' %}"></script>
    <script src="{% static 'assets/plugins/dataTables/dataTables.bootstrap.js' %}"></script>
   

   <script>
        $(document).ready(function () {

            $('#equipment').attr('class','active-menu-inven')
            $('#inventoryTop').attr('class', 'active-menu-top')
            $('#theInvenUL').attr('class','nav nav-second-level collapse in')
            $('#title').html('Equipment')

            $('#dataTables-example').dataTable();
             });
    </script>

{% endblock %}



