{% extends 'procurement/base.html' %}
{% load staticfiles %}
{% block content %}
        <!-- /. NAV SIDE  -->

            <div id="page-wrapper">


            <!--  ========================================================   -->

            <form id="decide">{% csrf_token %}
            <div style="   
                                     display:inline;
                                     float:right; 
                                     right:0; 
                                     padding-right:20px;
                                     margin-bottom: 0px;
                                     padding-left: 15px;
                                     font-size: 25px;
                                     padding-top: 10px;
                                     padding-bottom: 0px;
                                     margin-top:50px; ">

                                        
                       <button class="btn btn-info" role ="button" type="button" aria-disabled="true" id="approveButton" style="padding-right:8px; padding-left:8px; margin-right:10px;" data-toggle="modal"  data-target="#inputAbsNum"><i  class="icon-ok"></i> Create from Abstract</button>

              </div>

           </form>
            <form id="theReqData" action="" method="POST">{% csrf_token %}
            <div class="panel-body" style="
                 margin-bottom: 0px;
                 padding-left: 15px;
                 font-size: 25px;
                 padding-top: 10px;
                 padding-bottom: 0px;
                 margin-top:60px; 

                ">
                <div>
                       <span name="reqNum" id="reqNum">Create Purchase Order</span>

                </div>
                 
               </div>
               </form>
            <div id="page-inner" style="margin-top:0px; background-color: #ddd!important;">
             
                <hr>
            
        

                <div class="col-lg-12">
                    
                       

                        <!--  -->
                        
                        <div class="panel panel-default">
                            <div class="panel-heading">
                           
                          
                              <div class="form-group" style="display:none">
                  <div class="header-right" style="padding-right: 40px;">
                                                                
                        <div style="display: inline; font-weight: 400;  font-size: 18px;">
                            Purchase Order No.: 
                        </div>
                                                                
                        <div id="poNumDiv" value="0" class="panel panel-default" style="display: inline; font-size: 25px;  font-weight: 400; padding:10px;"><span id="poNum" value="{{pageData1.0.0}}"></span> {{pageData1.0.0}}
                         </div>
                        
                     </div> 

               </div> 
                                  <div  class="form-group"  style="display: inline;">
                                <h3 class="panel-title" style="font-weight:bold;">Provide the Purchase Order Information</h3>
                            </div>
                                




                            </div>
                            <div class="panel panel-body">
                <form class="form-horizontal">

                <div class="form-group">
                    <label for="text1" class="control-label col-lg-4">P.R. Number: </label>

                    <div class="col-lg-5">
                        <input autofocus type="text" id="prRef"  class="form-control">
                    </div>
                    
                </div>
                <div class="form-group">
                    <label for="text1" class="control-label col-lg-4">Supplier: </label>                       
                    <div class="col-lg-5">
                        <input type="text" id="suppID"  class="form-control" list="compSeacrhList">
                        <datalist id="compSeacrhList">
                        </datalist>
                    </div>
                </div>
                <div class="form-group">
                    <label for="text1" class="control-label col-lg-4">Procurement Mode: </label>

                    <div class="col-lg-5">
                        <input type="text" id="procmode"  class="form-control" >
                    </div>
                </div>
                <div class="form-group">
                    <label for="text1" class="control-label col-lg-4">Delivery Date: </label>

                    <div class="col-lg-5">
                        <input type="text" id="deldate"  class="form-control" >
                    </div>
                </div>
                <div class="form-group">
                    <label for="text1" class="control-label col-lg-4">Place of Delivery: </label>

                    <div class="col-lg-5">
                        <input type="text" id="delplace"  class="form-control" value="Mindanao State University, General Santos City">
                    </div>
                </div>
                <div class="form-group">
                    <label for="text1" class="control-label col-lg-4">Delivery Term: </label>

                    <div class="col-lg-5">
                        <input type="text" id="delterm"  class="form-control" value="FIFTEEN (15) DAYS">
                    </div>
                </div>
                <div class="form-group">
                    <label for="text1" class="control-label col-lg-4">Payment Term: </label>

                    <div class="col-lg-5">
                        <input type="text" id="payterm"  class="form-control" value="on account">
                    </div>
                </div>

                <div class="form-group">
                    <label for="text1" class="control-label col-lg-4">Conforme: </label>

                    <div class="col-lg-5">
                        <input type="text" id="conf"  class="form-control">
                    </div>
                </div>
            </form>
            </div>
                        </div>
                            </div>


                     <div class="col-lg-12">
                    
                       
                        <!--  -->
                        
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title" style="font-weight:bold;">Items to be Ordered</h3>
                            </div>
                            <div class="panel-body">
                            <div class="panel">
                            

                            <div class="panel-body" style="padding: 2px; padding-top:0px;">
                         
                                 <div class="panel-body" style="
                                 padding:0px;
                                 ">

                            <div class="table-responsive">
                                <div id="dataTables-example_wrapper" class="dataTables_wrapper form-inline" role="grid">
                                    
                        <div class="col-md-12" style="
                                    padding-left: 0px;
                                    padding-right: 0px;
                                    ">
                                <div class="panel panel-default">
                             <div class="table-responsive">
                                <table id="myTable" class="table table-hover">
                                    <thead>
                                        <tr>
                                            <th>Decription</th>
                                            <th class="text-center">Unit</th>
                                            <th class="text-center">Unit Cost</th>
                                            <th class="text-center">Quantity</th>
                                            <th class="text-center">Total</th>
                                            <th class="text-center">Actions</th>
                                        </tr>
                                    </thead>
                                    <tbody id="table">
                                        
                                    </tbody>
                                </table>
                                
                                <button class="btn btn-sm btn-success" role= "button" aria-disabled="true" data-toggle="modal"  data-target="#newReg"><i class="icon-plus"></i> Add Item to Order</button>
                            
                            </div>

                        </div>

                        <div class="form-group" style="padding-right: 40px; float: right; right:0;">
                              <div class="header-right">
                                                                            
                                    <div style="display: inline; font-weight: 400;  font-size: 14px;">
                                         Total Amount: 
                                    </div>
                                                                            
                                    <div id="total" value="0" class="panel panel-default" style="display: inline; font-size: 18px;  font-weight: 400; padding:10px;">₱ 0
                                     </div>
                                 </div> 

                           </div>
                     

                    </div>


                    </div>
                                
                            </div>
                           
                        </div>

                        </div>

                    

                    </div> 
     
                        </div>
                        </div>
                            </div>   

                            <div class="col-lg-12" >
                                     <div class="panel panel-default">
                                         <div class="panel-body" >
                                      <form id="addForm" method="POST" action="">{% csrf_token %}
                                     <div style="float:right; 
                                     right:0;">
                                         
                         <button id="send" class="btn btn-success" role= "submit" aria-disabled="true"><i class="icon-ok"></i> Create Purchase Order</button>
                                     </div>
                                     </form>
                                            
                                        </div>
                                    </div>
                                </div>
                  
                </div>          

                        </div>

<!-- ===================================================   Modal ==================================================================================  -->
           
                       <div class="modal fade" id="newReg" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                            <h4 class="modal-title" id="H4"> New Item Information</h4>
                                    </div>
                                    
                                    <div class="modal-body">
                                        <div class="panel panel-body" style="padding-top:0px; margin:0px;">
                                            <form class="form-horizontal">

                                                <div id="descripDiv" class="form-group">
                                                        <label for="text1" class="control-label col-lg-4">Description: </label>
                                            
                                                    <div class="col-lg-8">
                                                        <input id="descrip" class="form-control" autofocus>
                                                        <span for="descrip" id="errorde"></span>
                                                    </div>
                                                </div>
                                                <div class="form-group" style="margin-bottom:10px;">
                                                        <label for="text1" class="control-label col-lg-4">Unit: </label>
                                            
                                                    <div class="col-lg-8">
                                                        <input id="unit" class="form-control" />
                                                        <span id="errorun"></span>
                                                    </div>
                                            
                                                </div>

                                                <div class="form-group" style="margin-bottom:10px;">
                                                    <label for="text1" class="control-label col-lg-4">Unit Price: </label>
                                            
                                                    <div class="col-lg-8">
                                                        <input id="price" class="form-control" />
                                                        <span id="errorpr"></span>
                                                    </div>
                                                </div>
                                        
                                                <div class="form-group" style="margin-bottom:10px;">
                                                    <label for="text1" class="control-label col-lg-4">Quantity: </label>
                                            
                                                    <div class="col-lg-8" >
                                                        <input id="quantity" class="form-control" />
                                                        <span id="errorqu"></span>
                                                    </div>
                                                </div> 
                                            </form>
                                        </div>
                                    </div>
                                        
                                    <div class="modal-footer">
                                            <button id="addList" type="submit" class="btn btn-success" >Add to List</button>
                                    </div>
                                </div>
                            </div>
                        </div>

<!-- ===================================================   Modal ==================================================================================  -->

<!-- ===================================================   Modal ==================================================================================  -->
           
                       <div class="modal fade" id="editReg" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                            <h4 class="modal-title" id="H4"> New Item Information</h4>
                                    </div>
                                    
                                    <div class="modal-body">
                                        <div class="panel panel-body" style="padding-top:0px; margin:0px;">
                                            <form class="form-horizontal">

                                                <div id="descripDiv" class="form-group">
                                                        <label for="text1" class="control-label col-lg-4">Description: </label>
                                            
                                                    <div class="col-lg-8">
                                                        <input id="descrip2" class="form-control" autofocus>
                                                        <span  id="errorde"></span>
                                                    </div>
                                                </div>
                                                <div class="form-group" style="margin-bottom:10px;">
                                                        <label for="text1" class="control-label col-lg-4">Unit: </label>
                                            
                                                    <div class="col-lg-8">
                                                        <input id="unit2" class="form-control" />
                                                        <span id="errorun"></span>
                                                    </div>
                                            
                                                </div>

                                                <div class="form-group" style="margin-bottom:10px;">
                                                    <label for="text1" class="control-label col-lg-4">Unit Price: </label>
                                            
                                                    <div class="col-lg-8">
                                                        <input id="price2" class="form-control" />
                                                        <span id="errorpr"></span>
                                                    </div>
                                                </div>
                                        
                                                <div class="form-group" style="margin-bottom:10px;">
                                                    <label for="text1" class="control-label col-lg-4">Quantity: </label>
                                            
                                                    <div class="col-lg-8" >
                                                        <input id="quantity2" class="form-control" />
                                                        <span id="errorqu"></span>
                                                    </div>
                                                </div> 
                                            </form>
                                        </div>
                                    </div>
                                        
                                    <div class="modal-footer">
                                            <button id="addList2" type="submit" class="btn btn-success" >Update List</button>
                                    </div>
                                </div>
                            </div>
                        </div>

<!-- ===================================================   Modal ==================================================================================  -->

<!-- ===================================================   Modal ==================================================================================  -->
           
                       <div class="modal fade" id="errorReg" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                            <div class="modal-dialog ">
                                <div class="modal-content ">
                                   
                                    
                                    <div class="modal-body ">

                                        <div class="media" role="submit" name="notif1" id="notif1" value="GGWP">
                                    
                                            <span class="pull-left" >
                                                <div class="btn btn-danger btn-lg btn-circle" role="button" aria-disabled="true" disabled = "disabled">
                                                    <i class="icon-exclamation"></i></div>
                                    </span>  
                                    <div class="media-body">
                                        <h5 class="media-heading" style="margin-top:10px;">
                                            <strong>Form was not filled completely.</strong>
                                        </h5>
                                        <hr>
                                        
                                        <p style="margin-bottom:10px;">It is either that no Items were added or the purpose was not indicated .</p>
                                        <p style="margin-bottom:10px;">Please provide all the informations ask before sending this request.</p>   
                                    </div>
                                    

                                </div>
                                        
                                    </div>
                                        
                                    <div class="modal-footer">
                                            <button id="addList2" data-dismiss="modal" type="submit" class="btn btn-info">OK</button>
                                    </div>
                                </div>
                            </div>
                        </div>

<!-- ===================================================   Modal ==================================================================================  -->

<!-- ===================================================   Modal ==================================================================================  -->
           
                       <div class="modal fade" id="transComp" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                            <div class="modal-dialog ">
                                <div class="modal-content ">
                                   
                                    
                                    <div class="modal-body ">

                                        <div class="media" role="submit" name="notif1" id="notif1" value="GGWP">
                                    
                                            <span class="pull-left" >
                                                <div class="btn btn-success btn-lg btn-circle" role="button" aria-disabled="true" disabled = "disabled">
                                                    <i class="icon-ok"></i></div>
                                    </span>  
                                    <div class="media-body">
                                        <h5 class="media-heading" style="margin-top:10px;">
                                            <strong>Purchase Order Saved.</strong>
                                        </h5>
                                        <hr>
                                        
                                        <p style="margin-bottom:10px;">You may dowload the P.O. document by clicking the "View Document" button</p>
                                        <p style="margin-bottom:10px;">You will be notified as soon as the items arrive</p>   
                                    </div>
                                    

                                </div>
                                        
                                    </div>
                                        
                                    <div class="modal-footer">
                                            <button id="sentNotif" data-dismiss="modal" type="submit" class="btn btn-info">OK</button>
                                    </div>
                                </div>
                            </div>
                        </div>

<!-- ===================================================   Modal ==================================================================================  -->
<!-- ===================================================   Modal ==================================================================================  -->
                        <form action="/procurement_office/create_po_from_abstract/" method="POST">{% csrf_token %}
                        <div class="modal fade" id="inputAbsNum" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">

                        <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                            <h4 class="modal-title" id="H4"> The Reference Abstract of Canvass</h4>
                                    </div>
                                    
                                    <div class="modal-body">
                                        <div class="panel panel-body" style="padding-top:0px; margin:0px;">
                                            <form class="form-horizontal">

                                                <div id="descripDiv" class="form-group">
                                                        <label for="text1" class="control-label col-lg-4">Abstract Number:</label>
                                            
                                                    <div class="col-lg-8">
                                                        <input id="absnum" name="absnum" class="form-control" autofocus>
                                                        <span  id="errorde"></span>
                                                    </div>
                                                </div>
                                                 
                                            </form>
                                        </div>
                                    </div>
                                        
                                    <div class="modal-footer">
                                            <button id="absNumBtn" type="submit" role="submit" class="btn btn-success" >Submit</button>
                                    </div>
                                </div>
                            </div>

                            </div>
                        </form>
                       
                        

<!-- ===================================================   Modal ==================================================================================  -->

                <!-- /. ROW  -->
                
                    </div>
                </div>
            
            </div>
            <!-- /. PAGE INNER  -->
        </div>
        <!-- /. PAGE WRAPPER  -->
    </div>
    <!-- /. WRAPPER  -->
    <div id="footer-sec" >
      &copy; Mindanao State University - General Santos City
    </div>
    <!-- /. FOOTER  -->
    <!-- SCRIPTS -AT THE BOTOM TO REDUCE THE LOAD TIME-->
    <!-- JQUERY SCRIPTS -->
    <script src="{% static 'assets/js/jquery-1.10.2.js' %}"></script>
    <!-- BOOTSTRAP SCRIPTS -->
    <script src="{% static 'assets/js/bootstrap.js' %}"></script>
    <!-- METISMENU SCRIPTS -->
    <script src="{% static 'assets/js/jquery.metisMenu.js' %}"></script>
    <!-- CUSTOM SCRIPTS -->
    <script src="{% static 'assets/js/custom.js' %}"></script>
    <script src="{% static 'assets/plugins/daterangepicker/daterangepicker.js' %}"></script>
    <script src="{% static 'assets/plugins/daterangepicker/moment.min.js' %}"></script>
    <script src="{% static 'assets/plugins/datepicker/js/bootstrap-datepicker.js' %}"></script>
    
    <script type="text/javascript">
       
       var total = 0
       var theArray = {}
       var theArrayIndex = 0       
       var prevTotal = 0;
    
       
      

       document.getElementById("addList").onclick = function() {
            
            var descrip = document.getElementById("descrip").value;
            var unit = document.getElementById("unit").value;
            var price = document.getElementById("price").value;
            var quantity = document.getElementById("quantity").value;
            var itemTotal = document.getElementById("price").value * document.getElementById("quantity").value;
            var itemTotalToString = "" + itemTotal;

            setErrorMsgToEmpty()

            if (descrip == ""||unit == ""||price == ""||quantity == "") {


                if (descrip == "") {
                    
                    document.getElementById("errorde").innerHTML = "Don't leave this blank"
                    return false;

                }
                if (unit == "") {
                    document.getElementById("errorun").innerHTML = "Don't leave this blank" 
                    return false;

                }
                if (price == "") {
                    document.getElementById("errorpr").innerHTML = "Don't leave this blank" 
                    return false;

                }
                if (quantity == "") {
                    document.getElementById("errorqu").innerHTML = "Don't leave this blank" 
                    return false;

                }


            } else {
            
            var t = ''
            var tr = '<tr id = "'+theArrayIndex+'_tr">';
                     tr += '<td>'+descrip+'</td>';
                     tr += '<td class="text-center">'+unit+'</td>';
                     tr += '<td class="text-center">₱ '+comaSegregator(price)+'</td>';
                     tr += '<td class="text-center">'+comaSegregator(quantity)+'</td>';
                     tr += '<td class="text-center">₱ '+comaSegregator(itemTotalToString)+'</td>';
                     tr += '<td class="text-center">';
                     tr += '<button id = "'+theArrayIndex+'_editRow" value="'+theArrayIndex+'" data-toggle="modal"  data-target="#editReg" class="btn btn-xs btn-success" role= "button" aria-disabled="true"><i class="icon-edit"></i></button>';
                     tr += '<button id = "'+theArrayIndex+'_removeRow" value="'+theArrayIndex+'" class="btn btn-xs btn-danger" role= "submit" aria-disabled="true"><i class="icon-remove"></i></button>';
                     tr +='</td>';
                     tr += "</tr>";
                     t += tr;
            
            
            total = total + itemTotal;
            
            var totalToString = ""+total;

            document.getElementById("table").innerHTML += t;
            document.getElementById("total").innerHTML = "₱ "+comaSegregator(totalToString);

            theArray[theArrayIndex] = {'1':descrip, '2':unit, '3':price, '4':quantity};
            
            theArrayIndex = theArrayIndex + 1;
             
            document.getElementById("descrip").value = "";
            document.getElementById("unit").value = "";
            document.getElementById("price").value = "";
            document.getElementById("quantity").value = "";


            $('#newReg').modal('toggle');

        }
            
    };

        $('#prRef').keyup(function() {
            // body...
        });

        $('#suppID').keyup(function() {
            // body...
        });

        $('#conf').keyup(function() {
            // body...
        });


        $('#delplace').click(function () {
                    $(this).select();
        });
        
        $('#delplace').focusout(function () {

            if ($('#delplace').val() === '') {
                $('#delplace').val('Mindanao State University, General Santos City')
            }
        })

       $('#addList2').click(function() {

        var btnValue = $('#addList2').val()

        var descrip = document.getElementById("descrip2").value;
        var unit = document.getElementById("unit2").value;
        var price = document.getElementById("price2").value;
        var quantity = document.getElementById("quantity2").value;
        var itemTotal = document.getElementById("price2").value * document.getElementById("quantity2").value;
        var itemTotalToString = "" + itemTotal;
        
        var tr = '<td>'+descrip+'</td>';
                     tr += '<td class="text-center">'+unit+'</td>';
                     tr += '<td class="text-center">₱ '+comaSegregator(price)+'</td>';
                     tr += '<td class="text-center">'+comaSegregator(quantity)+'</td>';
                     tr += '<td class="text-center">₱ '+comaSegregator(itemTotalToString)+'</td>';
                     tr += '<td class="text-center">';
                     tr += '<button id = "'+btnValue+'_editRow" value="'+btnValue+'" data-toggle="modal"  data-target="#editReg" class="btn btn-xs btn-success" role= "button" aria-disabled="true"><i class="icon-edit"></i></button>';
                     tr += ' <button id = "'+btnValue+'_removeRow" value="'+btnValue+'" class="btn btn-xs btn-danger" role= "submit" aria-disabled="true"><i class="icon-remove"></i></button>';
                     tr +='</td>';
        
        total = total - prevTotal;
        total = total + itemTotal;
        var totalToString = ""+total;
        
        document.getElementById(btnValue+"_tr").innerHTML = tr;  
        document.getElementById("total").innerHTML = "₱ "+comaSegregator(totalToString)
        
        theArray[btnValue] = {'1':descrip, '2':unit, '3':price, '4':quantity};
                      
        $('#editReg').modal('toggle');    
           
       });

     $('#myTable').on('click','button', function (e) {
        var id = this.id;
        var value = document.getElementById(id).value
        
        var theArrayData = theArray[value]
        prevTotal = theArrayData['3']*theArrayData['4'];
        
        if (id === value+'_removeRow') {
            
            
            total = total - prevTotal;
            var totalToString = ""+total;
        
        
            document.getElementById("total").innerHTML = "₱ "+comaSegregator(totalToString)
            
            $(this).closest ('tr').remove ();

            delete theArray[value];

        } else {

            
            
            document.getElementById("descrip2").value = theArrayData['1'];
            document.getElementById("unit2").value = theArrayData['2'];
            document.getElementById("price2").value = theArrayData['3'];
            document.getElementById("quantity2").value = theArrayData['4'];
            
            $('#addList2').val(value);
        
        }

    });

    
    document.getElementById("send").onclick = function() {
            
            
            var prRef = $('#prRef').val();
            var suppID = $('#suppID').val();
            var deldate = $('#deldate').val();
            var procmode = $('#procmode').val();
            var delplace = $('#delplace').val();
            var delterm = $('#delterm').val();
            var payterm = $('#payterm').val();
            var conf = $('#conf').val();

            if (prRef == ""|| total  == 0) {
                   
                    $('#errorReg').modal('toggle');
                    //alert("Form was not filled completely Either no Items added or indicated purpose")
                    return false;
            } else {
                    return true;
            }
    }    

    //document.getElementById("removeRow").onclick = function () {
       // var row = document.getElementById("removeRow").value;
        //deleteRow(row);
   // };

    //document.getElementById("send").onclick = function() {
       // alert("GGWP");
   // }

   $('#price').keypress(function(event){

       if(event.which != 8 && isNaN(String.fromCharCode(event.which))){
            document.getElementById("errorpr").innerHTML = "Non-number input is not allowed" 
           event.preventDefault(); //stop character from entering input
       }
       else{
        document.getElementById("errorpr").innerHTML = ""
        $('#price').removeAttr("style") 
       }

   });

   $('#quantity').keypress(function(event){

       if(event.which != 8 && isNaN(String.fromCharCode(event.which))){
            document.getElementById("errorqu").innerHTML = "Non-number input is not allowed" 
           event.preventDefault(); //stop character from entering input
       }
       else{
        document.getElementById("errorqu").innerHTML = "" 
       }

   });

   $('#suppID').keyup(function(e){
        e.preventDefault();
           
            $.ajax({
                type: 'POST',
                url:'/procurement_office/findComp/',
                data:{
                    
                    'compName': document.getElementById("suppID").value,
                     csrfmiddlewaretoken:$('input[name=csrfmiddlewaretoken]').val(),
                   
                },

                    success: function(response) {
                        
                        document.getElementById("compSeacrhList").innerHTML = ""
                        
                        for(var key in response) {
                            var value = response[key];
                            document.getElementById("compSeacrhList").innerHTML += '<option value ="'+value+'"/>'
                        }
                    }

            });
    });

   $('#deldate').focusin(function() {
       $('#deldate').datepicker({
                    format: "yyyy-mm-dd"
        });
   })
   
   $('#sentNotif').click(function () {
       
       $('#transComp').modal('toggle')
       window.location.href = "/procurement_office/";
   
   })

    $(document).on('submit', '#addForm', function(e){
            
            e.preventDefault();
            
            
            $.ajax({
                type: 'POST',
                url:'/procurement_office/addPO/',
                data:{
                    
                    theMatrix: JSON.stringify(theArray),
                    ordNum: $('#poNum').attr('value'),
                    prRef: $('#prRef').val(),
                    suppID: $('#suppID').val(),
                    deldate: $('#deldate').val(),
                    procmode: $('#procmode').val(),
                    delplace: $('#delplace').val(),
                    delterm: $('#delterm').val(),
                    payterm: $('#payterm').val(),
                    conf: $('#conf').val(),

                    csrfmiddlewaretoken:$('input[name=csrfmiddlewaretoken]').val(),

                },

                    success:function() {
                        $('#transComp').modal('toggle')
                        
                    }

            });


    });
    $('#viewD').click(function () {
        alert($('#delplace').val())
    })
    function comaSegregator(input){

        var output = ""
        var indexCheck = 1
        
        for (var i = input.length - 1; i >= 0; i--) {
            
            if (indexCheck%3 == 0) {

                if (i == 0) {
                     output = input[i] + output;
                    indexCheck = indexCheck + 1;

                } else {
                     output = ", " + input[i] + output;
                    indexCheck = indexCheck + 1;
                }
                   
            } else {
                output = input[i] + output;
                indexCheck = indexCheck + 1;
            }
        }

        return(output)
    }


    function setErrorMsgToEmpty() {
        
        document.getElementById("errorde").innerHTML = "";
        document.getElementById("errorpr").innerHTML = "";
        document.getElementById("errorun").innerHTML = "";
        document.getElementById("errorqu").innerHTML = "";
    }



    </script>

    <script type="text/javascript">
        
         $(document).ready(function () {
                

                var someDate = new Date();
                var numberOfDaysToAdd = 15;

                
                someDate.setDate(someDate.getDate() + numberOfDaysToAdd);

                var dateToDisplay = someDate.getFullYear()+ '-' + 
                                    setSingleDigitToDouble(someDate.getMonth()+1)+ '-' + 
                                    setSingleDigitToDouble(someDate.getDate());
                    
                $('#deldate').val(dateToDisplay);
            
            });

         function setSingleDigitToDouble(input) {
            
            
            var outputData = "" + input;
            
            
            if (outputData.length === 1) {
                outputData = "0"+input;
            }

            return outputData;

         }

    </script>
    <script type="text/javascript">
            
    $(document).ready(function () {
        $('#create_po').attr('class', 'active-menu-proc')
        $('#proTop').attr('class', 'active-menu-top')
        $('#proUL').attr('class','nav nav-second-level collapse in')
    })

    </script>

{% endblock %}
