{% extends baseSource %}

{% load staticfiles %}
{% block content %}

        <div id="page-wrapper">



            <!--  ========================================================   -->
            <!--  ========================================================  

              <div style="   
                                     display:inline;
                                     padding: 0px;
                                     margin: 0px;
                                     margin-top: 51px;
                                     float:right; 
                                     right:0; 
                                     padding-right:20px;">

                        
                        <div class="btn-group">
                                        <a data-toggle="dropdown" class="btn btn-primary dropdown-toggle"><i class="icon-bar-chart"></i> Generates Inventory Reports<span style="margin-left:5px;" class="caret"></span></a>
                                        <ul class="dropdown-menu message-dropdown" style="right:0;">
                                            <li style="padding-bottom:5px; padding-top:5px;">
                                                <a href="#" ><i class="icon-list-alt" style="margin-left:4px;margin-right:6px;"></i> Physical Count of Property</a>
                                            </li>
                                            <li style="padding-bottom:5px; padding-top:5px;">
                                                <a href="#"><i class="icon-trash" style="margin-left:4px;margin-right:10px;"></i> Waste Material Report</a>
                                            </li>


                                        </ul>
                         </div>
                </div> -->
                     <div style="   
                                     display:inline;
                                     float:right; 
                                     right:0; 
                                     padding-top:0px;
                                     margin-top:52px; 
                                     margin-bottom: 0px;
                                     padding-bottom: 0px;
                                     padding-right:20px;
                                    ">

                                        
                     <div > <a href="/inventory_office/wmr/create_new/">
                         
                                 <button class="btn btn-success" role ="button" aria-disabled="true" id="approveButton" name="approveButton"><i class="icon-plus"></i> Create Request</button>
                                                                

                     </a>
                               
                            
                      </div>
                       
                       
                                    </div>
            <form id="theReqData" action="" method="POST">{% csrf_token %}
            <div class="panel-body" style="
                 margin-bottom: 0px;
                 padding-left: 15px;
                 font-size: 25px;
                 padding-top: 10px;
                 padding-bottom: 0px;
                 margin-top:48px; 

                ">
                <div>
                    
                    Request for Waste Material Inspections
                
                </div>
                 
               </div>
               </form>



            <div id="page-inner" style="margin-top:0px; background-color: #ddd!important;">
             
                <hr>
                    
                <div class="col-lg-12">
                    
                       

                        <!--  -->
                        
                        <div class="panel panel-default">
                            
                            <div class="panel-body" style="padding-bottom:0px;">  
                            <div class="panel-body col-lg-4 header-right" style="margin:0px; padding:0px;  padding-bottom:15px;">
                                  
                                <div class="form-group input-group" style="padding:0px;margin:0px;">
                           
                                            <input type="text" class="form-control input-sm" placeholder="Find Request" >
                                                <span class="input-group-btn">
                                                    <button class="btn btn-default btn-sm " type="button">
                                                        <i class="fa fa-search "></i>
                                                    </button>
                                                </span>
                                            </div> 


                                </div>
                            </div>
                            <div class="panel-body" style=" padding-right: 0px; padding-top:10px;">
                            

                            <div class="panel">
                            <!-- 
                          
 -->
                               <div class="panel-body" style="padding: 2px; padding-top:0px;">
                           
                            <div class="table-responsive">
                                <table class="table table-hover">
                                    <thead>
                                        <tr>
                                            <th class="text-center" >Inven. No.</th>
                                            <th class="text-center">P.A.R. Ref.</th>
                                            <th class="text-center">Acct. Personnel</th>
                                            <th class="text-center">Date of Request</th>
                                            <th class="text-center">Status</th>
                                             <th class="text-center">WMR No.</th>
                                            <th class="text-center">Action</th>

                                        </tr>
                                    </thead>
                                    <tbody>
                                    {% for x in '******' %}

                                        <tr>
                                            <td class="text-center">0000</td>
                                            <td class="text-center">000-00</td>
                                            <td class="text-center">Juan Dela Cruz</td>
                                            <td class="text-center">0000-00-00</td>
                                            <td class="text-center" style="color:#5cb85c">Status</td>
                                            <td class="text-center">000-00</td>
                                            <td class="text-center">
                                              <a href="{{urlHead}}/pr/{{x.21}}/details/"><button name ="offDetails" value="{{x.0}}" class="btn btn-xs btn-primary" role ="submit" aria-disabled="true">View Details<i class="icon-circle-arrow-right" style="margin-left:5px;"></i></button>
                                            </a>
                                               
                                               
                                            </td>
                                        </tr>

                                    {% endfor %}
                                        
                                      
                                    </tbody>
                                </table>
                            </div>
                           
                        </div>

                        </div>
                        </div>
                            </div>
                        </div>
                    
                    <!-- -->

                </div>
                
                <div


                <!-- /. ROW  -->

                <div class="panel-body"  style="padding:0px;">
                   
               </div>


                </div>    

                



               <!--  ========================================================   -->



                    </div>
        <!-- /. NAV SIDE  -->
      
            </div>
            <!-- /. PAGE INNER  -->
        </div>
        <!-- /. PAGE WRAPPER  -->
    </div>
    <!-- /. WRAPPER  -->
    <div id="footer-sec">
        &copy; 2016 Mindanao State University - General Santos City
    </div>
    <!-- /. FOOTER  -->
    <!-- SCRIPTS -AT THE BOTOM TO REDUCE THE LOAD TIME-->
    <!-- JQUERY SCRIPTS -->
    <script src="{% static 'procurement/assets/js/jquery-1.10.2.js' %}"></script>
    <!-- BOOTSTRAP SCRIPTS -->
    <script src="{% static 'procurement/assets/js/bootstrap.js' %}"></script>
    <!-- METISMENU SCRIPTS -->
    <script src="{% static 'procurement/assets/js/jquery.metisMenu.js' %}"></script>
    <!-- CUSTOM SCRIPTS -->
    <script src="{% static 'procurement/assets/js/custom.js' %}"></script>


   <script>
        
        $(document).ready(function () {

            $('#wmr').attr('class','{{cssActiveMenu}}')
            $('#acctTop').attr('class', 'active-menu-top')
            $('#theAcctUL').attr('class','nav nav-second-level collapse in')
            $('#title').html('Property Acceptance Receipt')

        });
    
    </script>

{% endblock %}