{% extends baseSource %}
{% load staticfiles %}
{% block content %}
        <div id="page-wrapper">


            <!--  ========================================================  


                     <div>
                       <span name="reqNum" id="reqNum">Create a Request for Quotation</span>

                    </div>


             -->

            <form id="theReqData" action="" method="POST">{% csrf_token %}
            <div class="panel-body" style="
                 margin-bottom: 0px;
                 padding-left: 15px;
                 padding-top: 10px;
                 padding-bottom: 0px;
                 margin-top:36px; 

                ">
            
                    <div class="panel-body" style="padding-bottom: 20px;">
                        <div class = "col-lg-4 text-right" style="">
                          <img style="max-width: 142px;" src = "{% static 'assets/img/Msu.png' %}" class="img-circle">
                        </div>
                <div class="col-xs-8" style="padding-top: 50px">
                <p style="font-size: 27px;"><span>Mindanao State University - PIIMS</span></p>
                <p style="font-size: 18px;"> <span>Requests, </span>
                    <span>Procurement, </span>
                    <span>Inventory, </span>
                    <span>Accountabilities</span>
                </p>
                    
                
                </div>

                    </div>


                 
               </div>
               </form>
            
            <div id="page-inner" style="margin-top:0px; background-color: #555!important;">
             
                <hr>
            <div class="col-lg-12" >
                


            </div>
                <div class="col-lg-8">

                <div class="col-lg-4" style="padding-left:0px; padding-right:3px;">
                             <div class="panel panel-primary ">
                                    <div class="panel-heading"  style="font-size:15px;"> <i class="icon-truck"></i> Incoming Deliveries</div>
                                    <div class="panel-body" style="padding-bottom: 5px;">
                                    <p class="text-right" style="font-size:25px; padding-top:5px;">000</p>
                                    <p class="text-right" style="font-size:16px; padding-top:5px;">Deliveries</p>
                                    

                                    </div>
                                    <div style="display: none;"  class="panel-footer"><span style="color:#d9534f;  display: none;"><i class="icon-arrow-down"></i> 000.00%</span></div>
                            </div>
                </div>
                <div class="col-lg-4" style="padding-left:0px; padding-right:3px;">
                             <div class="panel panel-success" style="border-color: #5cb85c;">
                                    <div class="panel-heading"  style="font-size:15px; background-color: #5cb85c; color:white;"> <i class="icon-spinner"></i> Pending Pur. Orders</div>
                                    <div class="panel-body" style="padding-bottom: 5px;">
                                    <p class="text-right" style="font-size:25px; padding-top:5px;">000,000,000</p>
                                    <p class="text-right" style="font-size:16px; padding-top:5px;">Orders</p>
                                  

                                    </div>
                                    <div style="display: none;"  class="panel-footer"><span style="color:#428bca;  display: none;"><i class="icon-arrow-down"></i> 000.00%</span></div>
                            </div>
                </div>
                <div class="col-lg-4" style="padding-left:0px; padding-right:3px;">
                             <div class="panel panel-warning" style="border-color: #a94442">
                                    <div class="panel-heading"  style="font-size:15px; background-color: #a94442; color: white;"> <i class="icon-exclamation-sign"></i> Items Depleted on Inv.</div>
                                    <div class="panel-body" style="padding-bottom: 5px;">
                                    <p class="text-right" style="font-size:25px; padding-top:5px;">000</p>
                                    <p class="text-right" style="font-size:16px; padding-top:5px;">Items</p>
                                    

                                    </div>
                                    <div style="display: none;" class="panel-footer"><span style="color:#5cb85c; "><i class="icon-arrow-down"></i> 000.00%</span></div>
                            </div>
                </div>


                <div class="col-lg-12"  style="padding:0px; margin:0px; display:none;">
                    
                <div class="panel panel-default">
                      <!--   <div class="panel-heading"> Request Statistics</div> -->
                            
                            <div class="panel-body" style="padding:0px;padding-top:20px; ">
                                

                       <div class="col-lg-4 col-md-4" style="">
                        <div class="panel panel-info" style="margin-bottom:13px;">
                            <div class="panel-heading" style="padding:7px;">
                                <div class="row">
                                    <div class="col-xs-3">
                                        <i class="fa fa-shopping-cart fa-3x"></i>
                                    </div>
                                    <div class="col-xs-9 text-right">
                                        <div  style="display:inline; font-weight:bold;">Received PR</div>
                                       <div style="display:inline; margin-left:15px;"><span class="badge" style="font-size:15px;">15,000</span></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4">
                        <div class="panel panel-success" style=" margin-bottom:13px;">
                            <div class="panel-heading" style="padding:7px;">
                                <div class="row">
                                    <div class="col-xs-3">
                                        <i class="fa icon-ok fa-3x"></i>
                                    </div>
                                    <div class="col-xs-9 text-right">
                                        <div  style="display:inline; font-weight:bold;">Approved PR</div>
                                        <div style="display:inline; margin-left:15px;"><span class="badge" style="font-size:15px;">10,000</span></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4">
                        <div class="panel panel-danger" style="">
                            <div class="panel-heading" style="padding:7px;">
                                <div class="row">
                                    <div class="col-xs-3">
                                        <i class="fa icon-exclamation-sign fa-3x"></i>
                                    </div>
                                    <div class="col-xs-9 text-right">
                                    <div  style="display:inline; font-weight:bold;">Declined PR</div>
                                        <div style="display:inline; margin-left:15px;"><span class="badge" style="font-size:15px;">2,000</span></div>
                                    </div>
                                </div>
                            </div>
                           
                        </div>
                    </div>



                                
                            </div>
                        </div>
                </div>
                    <div class="col-lg-12" style="padding:0px; margin:0px;">
                    <div class="panel panel-info">
                         <div class="panel-heading">
                             Pending Purchase Requests for Approval
                         </div> 
                         <div class="panel-body" style="padding-right:0px;">
                            <div class="table-responsive tablescroll2">
                          <table id="myTable" class="table table-hover table-bordered">
                                    <thead>
                                        <tr>
                                            <th class="text-center" style="width:110px;">Date Prepared</th>
                                            <th>Requesting Office</th>
                                            <th>Purpose</th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody id="table">
                                                <tr id = "{{x.1}}_tr">
                                                    <td class="text-center">00/00/0000</td>
                                                    <td>The Office Name Of What ever Department</td>
                                                    <td>The Indicated Purpose on the Request</td>
                                                    <td class="text-center"><button class="btn btn-xs btn-primary"><i class="icon-arrow-right"></i></button></td>
                                                   
                                                </tr>
                                                 <tr id = "{{x.1}}_tr">
                                                    <td class="text-center">00/00/0000</td>
                                                    <td>The Office Name Of What ever Department</td>
                                                    <td>The Indicated Purpose on the Request</td>
                                                    <td class="text-center"><button class="btn btn-xs btn-primary"><i class="icon-arrow-right"></i></button></td>
                                                   
                                                </tr>
                                                 <tr id = "{{x.1}}_tr">
                                                    <td class="text-center">00/00/0000</td>
                                                    <td>The Office Name Of What ever Department</td>
                                                    <td>The Indicated Purpose on the Request</td>
                                                    <td class="text-center"><button class="btn btn-xs btn-primary"><i class="icon-arrow-right"></i></button></td>
                                                   
                                                </tr>
                                                 <tr id = "{{x.1}}_tr">
                                                    <td class="text-center">00/00/0000</td>
                                                    <td>The Office Name Of What ever Department</td>
                                                    <td>The Indicated Purpose on the Request</td>
                                                    <td class="text-center"><button class="btn btn-xs btn-primary"><i class="icon-arrow-right"></i></button></td>
                                                   
                                                </tr>
                                                 <tr id = "{{x.1}}_tr">
                                                    <td class="text-center">00/00/0000</td>
                                                    <td>The Office Name Of What ever Department</td>
                                                    <td>The Indicated Purpose on the Request</td>
                                                    <td class="text-center"><button class="btn btn-xs btn-primary"><i class="icon-arrow-right"></i></button></td>
                                                   
                                                </tr>
                                                 <tr id = "{{x.1}}_tr">
                                                    <td class="text-center">00/00/0000</td>
                                                    <td>The Office Name Of What ever Department</td>
                                                    <td>The Indicated Purpose on the Request</td>
                                                    <td class="text-center"><button class="btn btn-xs btn-primary"><i class="icon-arrow-right"></i></button></td>
                                                   
                                                </tr>
                                                 <tr id = "{{x.1}}_tr">
                                                    <td class="text-center">00/00/0000</td>
                                                    <td>The Office Name Of What ever Department</td>
                                                    <td>The Indicated Purpose on the Request</td>
                                                    <td class="text-center"><button class="btn btn-xs btn-primary"><i class="icon-arrow-right"></i></button></td>
                                                   
                                                </tr>
                                               
                                            
                                    </tbody>
                                </table>
                            </div>


                        </div>
                             
                    </div>
                     
                </div>

                  
                   
               

                
                </div>    
              
              
             <div class="col-lg-4" style="padding-left:0px;">

             <div class="col-lg-7" style="padding-left:3px; padding-right:0px; display: none;">
                             <div class="panel panel-default ">
                                    
                                    <div class="panel-body" style="height:150px;">
                                         <p style="margin-bottom:0px;">Total P.R. Received for this Quarter</p>
                                    <p class="text-right" style="font-size:35px; padding-top:20px;">000,000</p>
                                    <p class="text-right" >Requests</p>
                                    <p ><span style="color:#5cb85c"><i class="icon-arrow-up"></i> 000.00%</span>
                                    </p>

                                    </div>
                            </div>
                </div>

                 <div class="col-lg-5" style="padding-left:3px; padding-right:0px; float:right; display: none;">
                 <div class="panel panel-default">
                       <div class="panel-body" style="height:150px;">
                                         <p style="margin-bottom:0px;">Pending For Approval </p>
                                    <p id="theNumBadge" class="text-right" style="font-size:35px; padding-top:20px;">{{pageData1.0.0}}</p>
                                    <p><span style="float:right">Requests</span></p>
                                   
                        </div> 
                 </div>
                 

                 </div>


               <div class="col-lg-12" style="padding-left:0px; padding-right:0px">
                    
                     <div class="panel panel-primary" style="">
                        <div class="panel-heading">Pending Requisition Slips</div>
                        <div class="panel-body text-right" style="padding-top: 23px;">
                        <p class="text-right" style="font-size:25px; padding-top:5px; padding-right: 20px;">{{pageData1.0.0}}</p>
                        <p class="text-right" style="font-size:14px; padding-top:5px; padding-right: 20px;">Request that needs your attention </p>
                         
                        </div>
                        
                         <form id="thePendingField" action="" method="POST">{% csrf_token %}
                              
                                <div class="panel-body" style="padding-right:0px; padding-top: 0px;">
                             <div class="table-responsive tablescroll" >
                          <table class="table table-hover">
                                   <tbody id="pendingPRTable" >
                                   
                                   </tbody>
                                </table>
                            </div>
                         </div>  


                         </form>
                      
                    </div>

                    
                </div>  
                  <div class="col-lg-12" style="padding-left:0px; padding-right:0px; display: none">
                    
                     <div class="panel panel-default" style="">
                        <div class="panel-heading">Pending Request</div>
                        
                         <form id="thePendingField" action="" method="POST">{% csrf_token %}
                             
                                <div class="panel-body" style="padding-right:0px;">
                             <div class="table-responsive tablescroll" >
                          <table class="table table-hover">
                                   <tbody >
                                     
                                   </tbody>
                                </table>
                            </div>
                         </div>  


                         </form>
                      
                    </div>

                    
                </div>
            
                   

                </div>
<!--         

            
           

-->
          <div class="panel-body"  style="padding:0px;">
                   
               </div>
                
                       

                            
                  
                </div>      

                        </div>   
    
            
            </div>
            <!-- /. PAGE INNER  -->
        </div>
        <!-- /. PAGE WRAPPER  -->
    </div>


    <!-- ===================================================   Modal ==================================================================================  -->
           
                       <div class="modal fade" id="newReg" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                            <div class="modal-dialog">
                                <form action="" method="POST">{% csrf_token %} 
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                            <h4 class="modal-title" id="H4"> Enter reason of denial</h4>
                                    </div>
                                   
                                    
                                    <div class="modal-body">

                                            <div class="checkbox" >
                                                        <label>
                                                            <div class="checker hover"><span><input checked id="chck1" class="uniform" type="checkbox" value="option1"></span></div>Select a Reason
                                                        </label>
                                             </div>
                                             
                                             <div>
                                                <select id="selReason" class="form-control">
                                                <option>On tight budget</option>
                                                <option>Unreasonable request</option>
                                                <option>Date interval of last the account is too near</option>
                                            </select>

                                             </div>
                                             

                                             <div class="checkbox">
                                                        <label>
                                                            <div class="checker hover"><span><input id="chck2" class="uniform" type="checkbox" value="option2"></span></div>Specify Reason
                                                        </label>
                                             </div>
                                                    
                                                    <div>
                                                        <textarea id="reasonIn" class="form-control" style="overflow: hidden; word-wrap: break-word; resize: horizontal; height: 100px;" disabled></textarea>
                                                    </div>
                                                
                                      
                                    </div>
                                   
                                      
                                          <div class="modal-footer">
                                            <button id="submitDecline" data-dismiss="modal" type="button" role="button" class="btn btn-success">Submit</button>
                                    </div>

                                        
                                       
                                     
                                     
                                    
                                </div>
                                </form>
                            </div>
                        </div>

<!-- ===================================================   Modal ==================================================================================  -->
<!-- ===================================================   Modal ==================================================================================  -->
           
                       <div class="modal fade" id="transCompAppr" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                            <div class="modal-dialog ">
                                <div class="modal-content ">
                                   
                                    
                                    <div class="modal-body ">

                                        <div class="media" role="submit" name="notif1" id="notif1" value="GGWP">
                                    
                                            <span class="pull-left" >
                                                <div class="btn btn-success btn-lg btn-circle" role="button" aria-disabled="true" disabled = "disabled">
                                                    <i class="icon-ok"></i></div>
                                    </span>  
                                    <div class="media-body">
                                        <h5 class="media-heading" style="margin-top:10px;">
                                            <strong>Update on Purchase Request Approval Status Complete</strong>
                                        </h5>
                                        <hr>
                                        
                                        <p style="margin-bottom:10px;">• You have successfully approved this request.</p>
                                        <p style="margin-bottom:10px;">• The personnel or office responsible on task/s for the next part of the this transaction have been notified to proceed.</p>
                                        <p style="margin-bottom:10px;">• You will be receiving notifications regarding on the developement of this transaction.</p>
                                           
                                    </div>
                                    

                                </div>
                                        
                                    </div>
                                        
                                    <div class="modal-footer">
                                            <button id="sentNotif" data-dismiss="modal" type="submit" class="btn btn-info">OK</button>
                                    </div>
                                </div>
                            </div>
                        </div>

<!-- ===================================================   Modal ==================================================================================  -->
<!-- ===================================================   Modal ==================================================================================  -->
           
                       <div class="modal fade" id="transCompDecl" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                            <div class="modal-dialog ">
                                <div class="modal-content ">
                                   
                                    
                                    <div class="modal-body ">

                                        <div class="media" role="submit" name="notif1" id="notif1" value="GGWP">
                                    
                                            <span class="pull-left" >
                                                <div class="btn btn-danger btn-lg btn-circle" role="button" aria-disabled="true" disabled = "disabled">
                                                    <i class="icon-ok"></i></div>
                                    </span>  
                                    <div class="media-body">
                                        <h5 class="media-heading" style="margin-top:10px;">
                                            <strong>Update on Purchase Request Approval Status Complete</strong>
                                        </h5>
                                        <hr>
                                        
                                        <p style="margin-bottom:10px;">• You have purposely declined this request.</p>
                                        <p style="margin-bottom:10px;">• The requesting personnel of this request will be notified regarding the denial of this request together with the it's reason.</p> 
                                    </div>
                                    

                                </div>
                                        
                                    </div>
                                        
                                    <div class="modal-footer">
                                            <button id="sentNotifDecl" data-dismiss="modal" type="submit" class="btn btn-info">OK</button>
                                    </div>
                                </div>
                            </div>
                        </div>

<!-- ===================================================   Modal ==================================================================================  -->
<!-- ===================================================   Modal ==================================================================================  -->
           
                       <div class="modal fade" id="transCompApprConf" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                            <div class="modal-dialog ">
                                <div class="modal-content ">
                                   
                                    
                                    <div class="modal-body ">

                                        <div class="media" role="submit" name="notif1" id="notif1" value="GGWP">
                                    
                                            <span class="pull-left" >
                                                <div class="btn btn-danger btn-lg btn-circle" role="button" aria-disabled="true" disabled = "disabled">
                                                    <i class="icon-exclamation"></i></div>
                                    </span>  
                                    <div class="media-body">
                                        <h5 class="media-heading" style="margin-top:10px;">
                                            <strong>Confirm Request Approval</strong>
                                        </h5>
                                        <hr>
                                        
                                        <p style="margin-bottom:10px;">Are you sure you want to approve this request?</p>
                                    </div>
                                    

                                </div>
                                        
                                    </div>
                                    <div class="modal-footer">
                                            <button id="apprReqBtn" data-dismiss="modal" type="submit" class="btn btn-success"><i class="icon-ok"></i> Yes</button>
                                            <button data-dismiss="modal" type="submit" class="btn btn-danger"><i class="icon-remove"></i> No</button>
                                    </div>
                                </div>
                            </div>
                        </div>

<!-- ===================================================   Modal ==================================================================================  -->




    <!-- /. WRAPPER  -->
    <div id="footer-sec" >
      &copy; Mindanao State University - General Santos City
    </div>
    <!-- /. FOOTER  -->
    <!-- SCRIPTS -AT THE BOTOM TO REDUCE THE LOAD TIME-->
    <!-- JQUERY SCRIPTS -->
    <script src="{% static 'assets/js/jquery-1.10.2.js' %}"></script>
    <!-- BOOTSTRAP SCRIPTS -->
    <script src="{% static 'assets/js/bootstrap.js' %}"></script>
    <!-- METISMENU SCRIPTS -->
    <script src="{% static 'assets/js/jquery.metisMenu.js' %}"></script>
    <!-- CUSTOM SCRIPTS -->
    <script src="{% static 'assets/js/custom.js' %}"></script>

    <!-- WIZARD SCRIPTS -->

    <script type="text/javascript">
        
     $(document).ready(function () {
         $('#home').attr('class','{{cssActiveMenu}}')
     })

    </script>

{% endblock %}



   

