{% extends baseSource %}

{% load staticfiles %}
{% load humanize %}

{% block content %}
        <!-- /. NAV SIDE  -->
        <div id="page-wrapper">
            <form id="theReqData" action="" method="POST">{% csrf_token %}
            <div class="panel-body" style="
                 margin-bottom: 0px;
                 padding-left: 15px;
                 font-size: 25px;
                 padding-top: 10px;
                 padding-bottom: 0px;
                 margin-top:50px; 

                ">
                <div>
                 <span name="reqNum" id="reqNum" value="{{pageData1.0.0}}">Purchase Order Details ( No. {{pageData1.0.18}} )</span>
                 
                </div>
                 
               </div>
               </form>
            <div id="page-inner" style="margin-top:0px; background-color: #ddd!important;">
             
                <hr>
                 
                <div class="col-lg-6" style="">
                         <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title">Basic Information</h3>
                            </div><!-- -->
                            <div class="panel-body" style="height:557px;  padding-left:20px;">
                             <div class="form-group">
                                <div style="padding-left: 2px; width:100%; ">
                                    <div class=" dataFont2 col-lg-5" >
                                        Date Prepared:  
                                    </div>
                                    <div class="dataFont1 col-lg-6" >

                                        {{pageData1.0.2}}
                                    </div>
                                </div> 
                            </div>
                            <div class="form-group">
                                <div style="padding-left: 2px; width:100%; ">
                                    <div class=" dataFont2 col-lg-5" >
                                        Approval Date:  
                                    </div>
                                    <div class="dataFont1 col-lg-7" >
                                    {% if pageData1.0.16 == None%}
                                       <span style="color: #d9534f;"> Pending for Approval</span>
                                    {% else %}
                                            {{pageData1.0.16}}
                                    {% endif %}

                                    
                                
                                    
                                    </div>
                                </div> 
                            </div>
                            
                           <div class="form-group">
                                <div style="padding-left: 2px; width:100%; ">
                                    <div class=" dataFont2 col-lg-5" >
                                        Date Served:  
                                    </div>
                                    <div class="dataFont1 col-lg-7" >
                                        {% if pageData1.0.17 == None%}
                                       <span style="color:#d9534f"> Pending for Approval</span>
                                    {% else %}
                                            {{pageData1.0.17}}
                                    {% endif %}
                                    </div>
                                </div> 
                            </div>
                            
                            <div class="form-group">
                                <div style="padding-left: 2px; width:100%; ">
                                    <div class=" dataFont2 col-lg-5" >
                                          
                                    </div>
                                    <div class="dataFont1 col-lg-6" >
                                        
                                    </div>
                                </div> 
                            </div>
                           

                            
                             <div class="form-group">
                                <div style="padding-left: 2px; width:100%; ">
                                    <div class=" dataFont2 col-lg-5" >
                                        Funding:  
                                    </div>
                                    <div class="dataFont1 col-lg-7" >
                                        {% if pageData1.0.15 == None%}
                                        <span style="color: #d9534f;">Pending for Approval</span>
                                    {% else %}
                                            {{pageData1.0.15}}
                                    {% endif %}
                                    </div>
                                </div> 
                            </div>
                           
                            <div class="form-group">
                                <div style="padding-left: 2px; width:100%; ">
                                    <div class=" dataFont2 col-lg-5" >
                                        P.O. Cost:  
                                    </div>
                                    <div class="dataFont1 col-lg-6" >
                                        ₱  {{pageData1.0.19|intcomma}}       
                                    </div>
                                </div> 

                            </div>
                            
                            <div class="form-group">
                                <div style="padding-left: 2px; width:100%; ">
                                    <div class=" dataFont2 col-lg-5" >
                                        
                                    </div>
                                    <div class="dataFont1 col-lg-6" >

                                    </div>
                                </div> 
                            </div>
                            <div class="form-group">
                                <div style="padding-left: 2px; width:100%; ">
                                    <div class=" dataFont2 col-lg-5" >
                                        Supplier:  
                                    </div>
                                    <div class="dataFont1 col-lg-6" >
                                        {{pageData1.4.1}}
                                    </div>
                                </div> 
                            </div>
                           <div class="form-group">
                                <div style="padding-left: 2px; width:100%; ">
                                    <div class=" dataFont2 col-lg-5" >
                                        Conforme:  
                                    </div>
                                    <div class="dataFont1 col-lg-6" >
                                       {{pageData1.0.12}}
                                    </div>
                                </div> 
                            </div>

                             <div class="form-group">
                                <div style="padding-left: 2px; width:100%; ">
                                    <div class=" dataFont2 col-lg-5" >
                                         
                                    </div>
                                    <div class="dataFont1 col-lg-6" >
                                        
                                    </div>
                                </div> 
                            </div>
                             <div class="form-group">
                                <div style="padding-left: 2px; width:100%; ">
                                    <div class=" dataFont2 col-lg-5" >
                                        Delivery Term:  
                                    </div>
                                    <div class="dataFont1 col-lg-6" >
                                        {{pageData1.0.6}} days
                                    </div>
                                </div> 
                            </div>
                             <div class="form-group">
                                <div style="padding-left: 2px; width:100%; ">
                                    <div class=" dataFont2 col-lg-5" >
                                        Payment Mode:  
                                    </div>
                                    <div class="dataFont1 col-lg-6" >
                                        On Account
                                    </div>
                                </div> 
                            </div>
                            <div class="form-group">
                                <div style="padding-left: 2px; width:100%; ">
                                    <div class=" dataFont2 col-lg-5" >
                                        Expected Del. Date: 
                                    </div>
                                    <div class="dataFont1 col-lg-6" >
                                        {{pageData1.0.4}}
                                    </div>
                                </div> 
                            </div>

                            <div class="form-group">
                                <div style="padding-left: 2px; width:100%; ">
                                    <div class=" dataFont2 col-lg-5" >
                                       
                                    </div>
                                    <div class="dataFont1 col-lg-6" >
                                        
                                    </div>
                                </div> 
                            </div>


                            <div class="form-group">
                                <div style="padding-left: 2px; width:100%; ">
                                    <div class=" dataFont2 col-lg-5" >
                                        Delivery Status:  
                                    </div>
                                    <div class="dataFont1 col-lg-6" >
                                     {% if pageData1.5.9 == None %}
                                        <label class="label label-warning">Pending</label>
                                    {% else %}
                                        <label class="label label-success">Delivered </label>
                                    {% endif %}
                                       
                                    </div>
                                </div> 
                            </div>
                              <div class="form-group">
                                <div style="padding-left: 2px; width:100%; ">
                                    <div class=" dataFont2 col-lg-5" >
                                        Date Delivered: 
                                    </div>
                                    <div class="dataFont1 col-lg-6" >
                                    
                                    {% if pageData1.5.9 == None %}
                                        <label class="label label-warning">Pending</label>
                                    {% else %}
                                        {{pageData1.5.10}}
                                    {% endif %}
                                       
                                    </div>
                                </div> 
                            </div>
                             
                            </div>
                        </div>
                    </div>
                    
                    <div class="col-lg-6" style="padding-left:0px;">
                         <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title">Delivery Information</h3>
                            </div>
                            <div class="panel-body" style="height: 132px; padding-left:20px; padding-bottom: 11px;">
                            
                             <div class="form-group">
                                <div style="padding-left: 2px; width:100%; ">
                                    <div class=" dataFont2 col-lg-6" >
                                        Quantity Status:  
                                    </div>
                                    <div class="dataFont1 col-lg-6" >
                                    {% if pageData1.5.9 == False %}
                                        <label class="label label-warning">Incomplete</label>
                                    {% else %}
                                        <label class="label label-success">Complete</label>
                                    {% endif %}
                                        
                                    
                                    </div>
                                </div> 
                            </div>
                           
                             <div class="form-group">
                                <div style="padding-left: 2px; width:100%; ">
                                    <div class=" dataFont2 col-lg-6" >
                                        {% if pageData1.5.9 == None %}
                                            Expected Del Date:
                                        {% else %}
                                            Date of Delivery:
                                        {% endif %}
                                         
                                    </div>
                                    <div class="dataFont1 col-lg-6" >
                                        {% if pageData1.5.9 == None %}
                                             {{pageData1.0.4}}
                                        {% else %}
                                            {{pageData1.5.10}}
                                        {% endif %}
                                        
                                       
                                    </div>
                                </div> 
                            </div>

                            <div class="form-group">
                                <div style="padding-left: 2px; width:100%; ">
                                    <div class=" dataFont2 col-lg-6" >
                                          
                                    </div>
                                    <div class="dataFont1 col-lg-6" >
                                          {% if pageData1.5.9 != None %}
                                          <a href="/inventory_office/receive/po/{{pageData1.6.2}}/details/" target="blank"><button class="btn btn-primary btn-xs">View Details</button></a>
                                          {% endif %}
                                    </div>
                                </div> 
                            </div>
                           
                           
                             
                                
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6" style=" padding-left:0px;">
                         <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title">References Information</h3>
                            </div>
                            <div class="panel-body" style=" height:365px;  padding-left:20px;">
                            
                          
                            <div class="form-group">
                                <div style="padding-left: 2px; width:100%; ">
                                    <div class=" dataFont2 col-lg-5" >
                                        P.R. Reference :  
                                    </div>
                                    <div class="dataFont1 col-lg-6" >
                                        <a target="_blank" href="/inventory_office/pr/{{pageData1.1.12}}/details">{{pageData1.1.1}}</a> 
                                    </div>
                                </div> 
                            </div>
                            
                           <div class="form-group">
                                <div style="padding-left: 2px; width:100%; ">
                                    <div class=" dataFont2 col-lg-5" >
                                        Quotation & Abstract No.:  
                                    </div>
                                    <div class="dataFont1 col-lg-6" >
                                    {% if pageData1.6.0 == None %}
                                        PO was generated without Quotation
                                    {% else %}
                                         <a target="_blank" href="/inventory_office/quotation/{{pageData1.6.1}}/details">{{pageData1.6.0}}</a> 
                                    {% endif %}

                                       
                                    </div>
                                </div> 
                            </div>
                            <div class="form-group">
                                <div style="padding-left: 2px; width:100%; ">
                                    <div class=" dataFont2 col-lg-5" >
                                        Date Prepared:  
                                    </div>
                                    <div class="dataFont1 col-lg-6" >
                                        {{pageData1.1.5}}
                                    </div>
                                </div> 
                            </div>
                            <div class="form-group">
                                <div style="padding-left: 2px; width:100%; ">
                                    <div class=" dataFont2 col-lg-5" >
                                        Req. Personnel:  
                                    </div>
                                    <div class="dataFont1 col-lg-6" >
                                        {{pageData1.2.6}} {{pageData1.2.1}} {{pageData1.2.7}} {{pageData1.2.2}} {{pageData1.2.8}}
                                    </div>
                                </div> 
                            </div>

                             <div class="form-group">
                                <div style="padding-left: 2px; width:100%; ">
                                    <div class=" dataFont2 col-lg-5" >
                                        Requesting Off.:  
                                    </div>
                                    <div class="dataFont1 col-lg-6" >
                                        {{pageData1.3.0}}
                                    </div>
                                </div> 
                            </div>

                             <div class="form-group">
                                <div style="padding-left: 2px; width:100%; ">
                                    <div class=" dataFont2 col-lg-6" >
                                         
                                    </div>
                                    <div class="dataFont1 col-lg-6" >
                                        
                                    </div>
                                </div> 
                            </div>
                           
                            <div class="form-group">
                                <div style="padding-left: 2px; width:100%; ">
                                    <div class=" dataFont2 " >
                                        Purpose:  
                                    </div>
                                    <div class="dataFont1" style="text-indent:30px;">
                                        {{pageData1.1.2}}
                                    </div>
                                </div> 
                            </div>
                            
                                
                            </div>
                        </div>
                    </div>

                  
                
                <div class="col-lg-12" style="display: inline;">
                    
                       

                        <!--  -->
                        
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title">Purchase Order Items</h3>
                            </div>
                            <div class="panel-body">
                                <div class="table-responsive">
                                <table class="table table-striped table-bordered table-hover" id="theTable">
                                    <thead>
                                        <tr>
                                            <th class="text-center" style="width:90px;">Item No.</th>
                                            <th>Requested Item Description</th>
                                            <th>Ordered Item Description</th>
                                            <th class="text-right" >Quantity</th>
                                            <th class="text-center"  >Unit</th>
                                            <th class="text-right"  >Unit Cost</th>
                                            <th class="text-right"  >Total</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                    {% for x in pageData2 %}
                                        <tr>
                                       <td class="text-center">{{x.1}}</td> 
                                       <td>Requested Item Name</td>
                                       <td>{{x.4}}</td>
                                       <td class="text-right">{{x.2}}</td>    
                                       <td class="text-center">{{x.3}}</td>
                                       <td class="text-right">{{x.5|intcomma}}</td>
                                       <td class="text-right">{{x.6|intcomma}}</td>

                                    </tr>
                                   
                                    {% endfor %}


                                        
                                    </tbody>
                                </table>
                            </div>
                                
                            </div>
                        </div>
                    
                    <!-- -->

                </div>
                

                <!-- /. ROW  -->
                
                  

                <div class="panel-body"  style="padding:0px;">
                    

               </div>


                </div>    

                </div>


            <!-- /. PAGE INNER  -->
        </div>
        <!-- /. PAGE WRAPPER  -->
    </div>
    <div id="footer-sec">
       &copy; Mindanao State University <i class=" buttom-header-right">Equipement Inventory </i>  
    </div>

    <!-- /. FOOTER  -->
    <!-- SCRIPTS -AT THE BOTOM TO REDUCE THE LOAD TIME-->
    <!-- JQUERY SCRIPTS -->
    <script src="{% static 'assets/js/jquery-1.10.2.js' %}"></script>
    <!-- BOOTSTRAP SCRIPTS -->
    <script src="{% static 'assets/js/bootstrap.js' %}"></script>
    <!-- METISMENU SCRIPTS -->
    <script src="{% static 'assets/js/jquery.metisMenu.js' %}"></script>
    <!-- CUSTOM SCRIPTS -->
    <script src="{% static 'assets/js/custom.js' %}"></script>
       <!-- WIZARD SCRIPTS -->
    <script src="{% static 'assets/plugins/morris/raphael-2.1.0.min.js' %}"></script>
    <script src="{% static 'assets/plugins/morris/morris.js' %}"></script>
    <script type="text/javascript">
        

    </script>
    <script type="text/javascript">

        
    $(document).ready(function () {
        
        $('#po').attr('class', '{{cssActiveMenu}}')
        $('#reftop').attr('class', 'active-menu-top ')
        $('#theRefUL').attr('class', 'nav nav-second-level collapse in')

        $('#title').html('Order Details')
        console.log('{{pageData1}}')
    })    
  

    </script>


{% endblock %}


